
rover -lz rover -lz /tf/caf/landingzones/caf_solution \
-level level4 \
-var-folder /tf/caf/gcc_starter/landingzone/configuration/level4/{{zone_code}}/apim \
-parallelism 30 \
-env {{caf_environment}} \
-tfstate solution_accelerators_{{zone_code}}_apim.tfstate \
-a plan

rover -lz rover -lz /tf/caf/landingzones/caf_solution \
-level level4 \
-var-folder /tf/caf/gcc_starter/landingzone/configuration/level4/{{zone_code}}/apim \
-parallelism 30 \
-env {{caf_environment}} \
-tfstate solution_accelerators_{{zone_code}}_apim.tfstate \
-a apply

rover -lz rover -lz /tf/caf/landingzones/caf_solution \
-level level4 \
-var-folder /tf/caf/gcc_starter/landingzone/configuration/level4/{{zone_code}}/apim \
-parallelism 30 \
-env {{caf_environment}} \
-tfstate solution_accelerators_{{zone_code}}_apim.tfstate \
-a destroy



