public_ip_addresses = {
  agw_pip_re1 = {
    name                    = "{{env_code}}{{dash_1}}{{zone_code}}{{dash_2}}{{tier_code}}{{dash_last}}agw-re1"
    resource_group_key      = "agw_ingress_internet_re1"
    sku                     = "Standard"
    allocation_method       = "Static"
    ip_version              = "IPv4"
    availability_zone       = "1"
    idle_timeout_in_minutes = "4"

    tags = { 
      purpose = "{{tag_zone_code}} agw public ip address" 
      project_code = "{{project_code}}" 
      env = "{{caf_environment}}" 
      zone = "{{tag_zone_code}}"
      tier = "{{tag_tier_code}}"           
    }     

  }
}