resource_groups = {
  agw_ingress_internet_re1 = {
    name = "agw-ingress-internet-re1"           
    region = "region1"    
    tags = { 
      purpose = "{{tag_zone_code}} agw resource group" 
      project_code = "{{project_code}}" 
      env = "{{caf_environment}}" 
      zone = "{{tag_zone_code}}"
      tier = "{{tag_tier_code}}"           
    }        
  }
}