resource_groups = {
  openai_rg_re1 = {
    name = "{{env_code}}{{dash_1}}{{zone_code}}{{dash_2}}{{tier_code}}{{dash_last}}openai-re1"           
    region = "region2" # eastus    
    tags = { 
      purpose = "internet openai resource group" 
      project_code = "{{project_code}}" 
      env = "{{caf_environment}}" 
      zone = "{{tag_zone_code}}"
      tier = "{{tag_tier_code}}"        
    }     
  }

  openai_pep_rg_re1 = {
    name = "openai-pep-re1"           
    region = "region1" # southeastasia    
    tags = { 
      purpose = "{{tag_zone_code}} openai pep resource group" 
      project_code = "{{project_code}}" 
      env = "{{caf_environment}}" 
      zone = "{{tag_zone_code}}"
      tier = "{{tag_tier_code}}"          
    }    
  }

}