{% if internet_app_aks | trim == '1' %}  
managed_identities = {
  aks_usermsi = {
    name               = "aks-usermsi" 
    resource_group_key = "prerequisition_re1"

    tags = { 
      purpose = "internet aks managed identity" 
      project-code = "{{project_code}}" 
      env = "{{caf_environment}}" 
      zone = "{{zone_code}}"
      tier = "{{tier_code}}"           
    }  
  }
}
{% else %}
#------------------------------------------------------
# this page is leave blank intentionally
#------------------------------------------------------
{% endif %}