# AzureFirewallSubnet {{cidr_ingress_egress_zone_subnet_ingress_internet}}
# ApplicationGatewaySubnet {{cidr_ingress_egress_zone_subnet_ingress_agw_internet}}
# AzureFirewallSubnet_egress {{cidr_ingress_egress_zone_subnet_egress_internet}}
virtual_subnets = {

  # begin ingress zone
  AzureFirewallSubnet = {
    name    = "AzureFirewallSubnet" # Must be called AzureFirewallSubnet
    cidr    = ["{{cidr_ingress_egress_zone_subnet_ingress_internet}}"] # 64 ips
    service_endpoints = ["Microsoft.KeyVault", "Microsoft.Storage"]    
    vnet = {
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{ingress_egress_vnet_name_ingress_internet}}"

    }      
  } 
  ApplicationGatewaySubnet = {
    name    = "ingress-agw" 
    cidr    = ["{{cidr_ingress_egress_zone_subnet_ingress_agw_internet}}"]  # 64 ips
    nsg_key = "web_nsg"    
    service_endpoints = ["Microsoft.KeyVault", "Microsoft.Storage"]    
    vnet = {
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{ingress_egress_vnet_name_ingress_internet}}"

    }      
  }    
  # end ingress zone

  # begin egress zone
  AzureFirewallSubnet_egress = {
    name    = "AzureFirewallSubnet" # Must be called AzureFirewallSubnet
    cidr    = ["{{cidr_ingress_egress_zone_subnet_egress_internet}}"]   # 64 ips
    service_endpoints = ["Microsoft.KeyVault", "Microsoft.Storage"]    
    vnet = {
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{ingress_egress_vnet_name_egress_internet}}"

    }      
  }  
  AzureFirewallMangementSubnet_egress = {
    name    = "AzureFirewallManagementSubnet" 
    cidr    = ["{{cidr_ingress_egress_zone_subnet_egress_mgmt_internet}}"]   # 64 ips
    service_endpoints = ["Microsoft.KeyVault", "Microsoft.Storage"]    
    vnet = {
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{ingress_egress_vnet_name_egress_internet}}"

    }      
  }   
  # end egress zone  
}
