
linux_function_apps = {
  f1 = {
    name               = "document-processing"
    resource_group_key = "fa_rg_re1"
    region             = "region1"
    #  ~ kind                         = "linux" -> "functionapp" # forces replacement
    kind                 = "linux"    
    app_service_plan_key = "fa_asp1"
    storage_account_key  = "fa_sa1"
    
    settings = {

{% if gcc_platform | trim == '1' %}
      subnet_id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{internet_vnet_name}}/subnets/{{prefix}}-snet-function-apps-internet"
{% else %}
      vnet_key = "vnet_spoke_internet_re1"
      subnet_key = "functionapps_internet_subnet"
      lz_key = "networking_spoke_internet"    
      # subnet_id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{internet_vnet_name}}/subnets/{{prefix}}-snet-function-apps-internet"
{% endif %}

      enabled = true

      site_config = {
        application_stack = {

        #     dotnet_version              = "7.0" # var.dotnet_version
        #     use_dotnet_isolated_runtime = true
        #     # java_version = "17"
        #     # node_version = "18" # "20"
        #     # python_version = "3.7"
        #     # powershell_core_version = "7.2"

          node_version = "18" # latest is "20", 26 Oct 2023 - terraform support till "18"
          # local.site_config.application_stack.docker != null
          docker = null
        }
      }

      # storage_uses_managed_identity = true
      functions_extension_version   = "~4"
      https_only                    = true
      builtin_logging_enabled       = false

    }

    # Optional 
    private_endpoints = {
      # Require enforce_private_link_endpoint_network_policies set to true on the subnet
      pe1_functionapp = {
        name       = "pep-function-app"

{% if gcc_platform | trim == '1' %}
        subnet_id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{internet_vnet_name}}/subnets/{{prefix}}-snet-app-internet"
{% else %}
        vnet_key = "vnet_spoke_internet_re1"
        subnet_key = "app_internet_subnet"
        lz_key = "networking_spoke_internet"    
        # subnet_id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{internet_vnet_name}}/subnets/{{prefix}}-snet-app-internet"
{% endif %}

        resource_group_key = "fa_rg_re1"

        private_service_connection = {
          name                 = "psc-functionapp"
          is_manual_connection = false
          subresource_names    = ["sites"]
        }

        private_dns = {
          zone_group_name = "default"
          lz_key          = "networking_spoke_internet" # if DNS keys is deployed in remote landingzone
          keys = ["azurewebsites_dns_re1"]
        }
      }
    }

    tags = { 
      purpose = "{{zone_code}} linux function app" 
      project-code = "{{project_code}}" 
      env = "{{caf_environment}}" 
      zone = "{{zone_code}}"
      tier = "{{tier_code}}"          
    } 

    # # TODO: debug the diagnostic_profiles - this is working 10 Aug 2023
    # # you can setup up to 5 key
    diagnostic_profiles = {
      central_logs_region1 = {
        definition_key   = "functionapp"
        destination_type = "log_analytics"
        destination_key  = "central_logs"
        # lz_key = "shared_services" # TODO: is this required?
      }
    }       

  }
}

