resource_groups = {
  fa_rg_re1 = {
    name = "{{env_code}}{{dash_1}}{{zone_code}}{{dash_2}}{{tier_code}}{{dash_last}}function-app-re1"           
    region = "region1"    
    tags = { 
      purpose = "{{tag_zone_code}} linux function app resource group" 
      project_code = "{{project_code}}" 
      env = "{{caf_environment}}" 
      zone = "{{tag_zone_code}}"
      tier = "{{tag_tier_code}}"          
    }     
  }
}