private_dns = {
{% if internet_app_aks | trim == '1' %}
  # after create, must grant to managed identity in role mapping
  aks_dns_re1 = {
    name               = "privatelink.southeastasia.azmk8s.io"
    resource_group_key = "prerequisition_re1"

    # vnet link is created after vnet is crated.
{% if gcc_platform | trim == '1' %}
    vnet_links = {
      aks_internet_vnet_link = {
        name               = "aks-internet-vnet"
        registration_enabled = true
        virtual_network_id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{internet_vnet_name}}"
      }    
    }
{% else %}
    vnet_links = {
      aks_internet_vnet_link = {
        name = "aks-vnet-link-internet"
        vnet_key = "vnet_spoke_internet_re1"
      }
    }
{% endif %} 
   

    tags = { 
      purpose = "internet azmk8s private dns" 
      project-code = "esdso1" 
      env = "sandpit" 
      zone = "internet"
      tier = "app"          
    } 

  }

  acr_dns_re1 = {
    name               = "privatelink.azurecr.io" # must be this name 0 do not change
    resource_group_key = "prerequisition_re1"

    # vnet link is created after vnet is crated.

{% if gcc_platform | trim == '1' %}
    vnet_links = {
      acr_internet_vnet_link = {
        name               = "acr-internet-vnet"
        registration_enabled = true
        virtual_network_id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{internet_vnet_name}}"
      }    
    }
{% else %}
    vnet_links = {
      aks_internet_vnet_link = {
        name = "acr-vnet-link-internet"
        vnet_key = "vnet_spoke_internet_re1"
      }
    }
{% endif %} 
     

    tags = { 
      purpose = "acr private dns" 
      project-code = "esdso1" 
      env = "sandpit" 
      zone = "internet"
      tier = "app"         
    }      
    
  }

{% endif %}   

}