diagnostics_definition = {
  storage_account = {
    name = "operational_logs_and_metrics"
    categories = {
      metric = [
        #["Category name",  "Diagnostics Enabled(true/false)", "Retention Enabled(true/false)", Retention_period]
        ["Transaction", true, false, 0],
        ["Capacity", true, false, 0],
      ]
    }
  }  
  storage_blob = {
    name = "operational_logs_and_metrics"
    categories = {
      log = [
        # ["Category name",  "Diagnostics Enabled(true/false)", "Retention Enabled(true/false)", Retention_period]
        ["StorageRead", true, false, 14],
        ["StorageWrite", true, false, 14],
        ["StorageDelete", true, false, 14]
      ]
      metric = [
        #["Category name",  "Diagnostics Enabled(true/false)", "Retention Enabled(true/false)", Retention_period]
        ["Transaction", true, false, 0],
        ["Capacity", true, false, 0],
      ]
    }
  }
}

diagnostics_destinations = {
  # Storage keys must reference the azure region name
  log_analytics = {   # <- this is destination type
    central_logs = {  # <- this is destination key
      log_analytics_key = "central_logs_region1"
      log_analytics_destination_type = "Dedicated"
    }
  }
}
