resource_groups = {

  storage_accounts_re1 = {
    name = "storage-accounts-re1"
    region = "region1"      
    tags = { 
      purpose = "internet storage accounts resource group" 
      project-code = "{{project_code}}" 
      env = "{{caf_environment}}" 
      zone = "{{zone_code}}"
      tier = "{{tier_code}}"           
    }   
  }   


}

