landingzone = {
  backend_type        = "azurerm"
  level               = "level4"
  key                 = "search_service"      
  global_settings_key = "launchpad" 
  tfstates = {
    shared_services = {
      level   = "lower"
      tfstate = "shared_services.tfstate"      
    }
    networking_spoke_internet = {
      level   = "lower"
      tfstate = "networking_spoke_internet.tfstate"       
    } 
    networking_spoke_management = {
      level   = "lower"
      tfstate = "networking_spoke_management.tfstate"       
    }      
    networking_vnets = {
      level   = "lower"
      tfstate = "networking_vnets.tfstate" # set to referenced landingzone tfstate name      
    } 
  }
}
