
virtual_subnets = {

  # begin management zone
  management_infra_subnet = {
    name    = "infra-management"
    cidr    = ["{{cidr_management_zone_subnet_infra}}"] # 64 ips 
    nsg_key = "jumpbox"
    service_endpoints = ["Microsoft.KeyVault", "Microsoft.Storage"]    
    vnet = {
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{management_vnet_name}}"
    }      
  } 

  management_security_subnet = {
    name    = "security-management"
    cidr    = ["{{cidr_management_zone_subnet_security}}"] # 64 ips 
    nsg_key = "jumpbox"
    service_endpoints = ["Microsoft.KeyVault", "Microsoft.Storage"]    
    vnet = {
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{management_vnet_name}}"
    }      
  }  

  AzureBastionSubnet = {
    name    = "AzureBastionSubnet" # Must be called AzureBastionSubnet
    cidr    = ["{{cidr_management_zone_subnet_bastion}}"] # 64 ips
    nsg_key = "azure_bastion_nsg"
    service_endpoints = ["Microsoft.KeyVault", "Microsoft.Storage"]    
    vnet = {
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{management_vnet_name}}"
    }      
  }  
  # end management zone
}
