
public_ip_addresses = {
  bastion_host_pip_re1 = {
    name                    = "bastion-pip-re1"
    region                  = "region1"
    resource_group_key      = "bastion_rg_re1"
    sku                     = "Standard"
    allocation_method       = "Static"
    ip_version              = "IPv4"
    idle_timeout_in_minutes = "4"

    # you can setup up to 5 key
    # diagnostic_profiles = {
    #   central_logs_region1 = {
    #     definition_key   = "public_ip_address"
    #     destination_type = "log_analytics"
    #     destination_key  = "central_logs"
    #   }
    # }
    tags = { 
      purpose = "management bastion public ip address" 
      project-code = "{{project_code}}" 
      env = "{{caf_environment}}" 
      zone = "{{zone_code}}"
      tier = "{{tier_code}}"            
    }  

  }
}

