diagnostics_definition = {
  redis_cache = {
    name = "redis_cache_logs_and_metrics"

    categories = {
      metric = [
        #["Category name",  "Diagnostics Enabled(true/false)", "Retention Enabled(true/false)", Retention_period]
        ["AllMetrics", true, false, 7],
      ]
    }
  }
}

diagnostics_destinations = {
  # Storage keys must reference the azure region name
  log_analytics = {   # <- this is destination type
    central_logs = {  # <- this is destination key
      log_analytics_key = "central_logs_region1"
      log_analytics_destination_type = "Dedicated"
    }
  }
}
