# redis caches connection is at Azure Portal Settings > Access Keys
# allow only via SSL
# SSL Port 6380

rover -lz /tf/caf/landingzones/caf_solution \
-level level4 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level4/project/redis \
-env {{caf_environment}} \
-tfstate solution_accelerators_redis.tfstate \
-a plan

rover -lz /tf/caf/landingzones/caf_solution \
-level level4 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level4/project/redis \
-env {{caf_environment}} \
-tfstate solution_accelerators_redis.tfstate \
-a apply

rover -lz /tf/caf/landingzones/caf_solution \
-level level4 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level4/project/redis \
-env {{caf_environment}} \
-tfstate solution_accelerators_redis.tfstate \
-a destroy




