resource_groups = {
  data_factory_rg_re1 = {
    name = "data-factory-re1"           
    region = "region1"    
    tags = { 
      purpose = "{{zone_code}} data factory resource group" 
      project-code = "{{project_code}}" 
      env = "{{caf_environment}}" 
      zone = "{{zone_code}}"
      tier = "{{tier_code}}"          
    }     
  }
}