#
# Note: diagnostic_log_analytics is pre-created by GCC during onboarding
# use log_analytics_resource_id instead of log_analytics_key
#

diagnostics_destinations = {
  # Storage keys must reference the azure region name
  log_analytics = {   # <- this is destination type
    central_logs = {  # <- this is destination key
      log_analytics_resource_id = "/subscriptions/{{subscription_id}}/resourceGroups/{{log_analytics_workspace_resource_group_name}}/providers/Microsoft.OperationalInsights/workspaces/{{log_analytics_workspace_name}}",
      log_analytics_destination_type = "Dedicated"
    }
  }

}
