resource_groups = {
  mssql_rg_re1 = {
    name = "mssql"           
    region = "region1"    
    tags = { 
      purpose = "{{zone_code}} mssql resource group" 
      project-code = "{{project_code}}" 
      env = "{{caf_environment}}" 
      zone = "{{zone_code}}"
      tier = "{{tier_code}}"          
    }     
  }
}