azurerm_redis_caches = {
  redis_re1 = {
    resource_group_key = "redis_rg_re1"

    redis = {
      name                          = "redis-re1"
      capacity                      = 1
      family                        = "P"
      sku_name                      = "Premium"
      shard_count                   = 1
      public_network_access_enabled = false

      redis_configuration = {
        rdb_backup_enabled = false
      }
    }

    tags = { 
      purpose = "{{zone_code}} redis caches" 
      project-code = "{{project_code}}" 
      env = "{{caf_environment}}" 
      zone = "{{zone_code}}"
      tier = "{{tier_code}}"          
    }  
  
    diagnostic_profiles = {
      operations = {
        definition_key   = "redis_cache"
        destination_type = "log_analytics"
        destination_key  = "central_logs"
      }
    }     

    private_endpoints = {
      redis_pep_re1 = {
        name               = "redis-re1"
        resource_group_key = "redis_rg_re1"
        subnet_id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{internet_vnet_name}}/subnets/{{prefix}}-snet-db-{{zone_code}}"

        private_service_connection = {
          name                 = "redis"
          is_manual_connection = false
          subresource_names    = ["redisCache"]
        }
        private_dns = {
          zone_group_name = "privatelink_redis"
          lz_key = "shared_services" # if DNS keys are deployed in a remote landingzone
          keys = ["ops_dns_re1"] 
        }     
      }
    }
  }
}
