bastion_hosts = {
  bastion_hub_re1 = {
    name               = "{{env_code}}{{dash_1}}{{zone_code}}{{dash_2}}{{tier_code}}{{dash_last}}bastion-host"
    region             = "region1"
    resource_group_key = "bastion_rg_re1"
{% if gcc_platform_import | trim == '0' %}
    subnet_id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{management_vnet_name}}/subnets/AzureBastionSubnet"
{% else %}
    lz_key = "networking_spoke_management"
    virtual_subnet_key = "AzureBastionSubnet"
{% endif %}    
    public_ip_key      = "bastion_host_pip_re1"

    tags = { 
      purpose = "management bastion host" 
      # project_code = "{{project_code}}" 
      env = "{{caf_environment}}" 
      zone = "{{tag_zone_code}}"
      tier = "{{tag_tier_code}}"          
    }  

    # you can setup up to 5 key
    diagnostic_profiles = {
      central_logs_region1 = {
        definition_key   = "bastion_host"
        destination_type = "log_analytics"
        destination_key  = "central_logs"
      }
    }

  }

}