{% if management_monitoring | trim == '1' %}
monitoring = {
  service_health_alerts = {
    enable_service_health_alerts = true
    name                         = "service-health-alert"
    action_group_name            = "ag_servicehealth"
    shortname                    = "HealthAlerts" # expected length of short_name to be in the range (1 - 12), got ServiceHealthAlerts
    resource_group_key           = "mgmt_ops_re1"

    email_alert_settings = {
      email_alert1 = {
        name                    = "email-alert-servicehealth"
        email_address           = "thiamsoontan@microsoft.com" # TODO: replace with your email address
        use_common_alert_schema = false
      } 
    } 
  }
}
{% endif %}  

{% if management_monitoring | trim != '1' %}
#------------------------------------------------------
# this page is leave blank intentionally
#------------------------------------------------------
{% endif %} 