
managed_identities = {
  vmss_msi2 = {
    name               = "vmss_msi2" 
    resource_group_key = "windows_vmss_rg"
    tags = {  # use desired tags
      project-code = "ignite" # use project-code
      env          = "sit" # use env
      purpose      = "gcc dev environment shared services resource group"
    } 
  }
}