landingzone = {
  backend_type        = "azurerm"
  global_settings_key = "launchpad"
  level               = "level3"
  key                 = "networking_private_dns"
  tfstates = {
    launchpad = {
      level   = "lower"
      tfstate = "caf_launchpad.tfstate"
    }
    shared_services = {
      level   = "current"
      tfstate = "shared_services.tfstate"      
    }
    networking_spoke_internet = {
      level   = "current"
      tfstate = "networking_spoke_internet.tfstate"       
    } 
    networking_spoke_management = {
      level   = "current"
      tfstate = "networking_spoke_management.tfstate"       
    }      
  }
}
