resource_groups = {
  networking_firewall_egress_intranet_re1 = {
    name   = "networking-firewall-egress-intranet-re1"
    region = "region1"
    tags = { 
      purpose = "egress networking spoke resource group" # replace with purpose
      # project_code = "{{project_code}}" 
      env = "{{caf_environment}}" 
      zone = "{{tag_zone_code}}"
      tier = "{{tag_tier_code}}"   
    }      
  }
}
