load_balancers = {
  lb1_re1 = {
    name                      = "lb1_re1" 
    sku                       = "basic"
    resource_group_key        = "windows_vmss_rg"
    backend_address_pool_name = "vmss1"
    frontend_ip_configurations = {
      config1 = {
        name = "config1"
        # set subnet_id to resource_id of referenced subnet
        subnet_id = "/subscriptions/{{subscription_id}}/resourceGroups/ignite-rg-gcc-dev-re1-pgv/providers/Microsoft.Network/virtualNetworks/ignite-vnet-gcc-dev-re1-twe/subnets/{{prefix}}-snet-web-{{zone_code}}_subnet1-nty",
        # subnet_id = "" # "web_subnet1"
        private_ip_address_allocation = "Dynamic"
      }
    }
    tags = {  # use desired tags
      project-code = "ignite" # use project-code
      env          = "sit" # use env
      purpose      = "gcc dev environment shared services resource group"
    } 
  }
}