{% if gcc_platform_import | trim != '2' %}
#------------------------------------------------------
# this page is leave blank intentionally
#------------------------------------------------------
{% else %}
landingzone = {
  backend_type        = "azurerm"
  global_settings_key = "launchpad"
  level               = "level3"
  key                 = "shared_services"
  tfstates = {
    launchpad = {
      level   = "lower"
      tfstate = "caf_launchpad.tfstate"
    }    
  }
}
{% endif %}
