{
  "version": 4,
  "terraform_version": "1.6.0",
  "serial": 4,
  "lineage": "7c1bebd9-d8c6-a668-630e-f58e6e129ef8",
  "resources": [
    {
      "mode": "data",
      "type": "terraform_remote_state",
      "name": "remote",
      "provider": "provider[\"terraform.io/builtin/terraform\"]",
      "instances": [
        {
          "index_key": "launchpad",
          "schema_version": 0,
          "attributes": {
            "backend": "azurerm",
            "config": {
              "value": {
                "container_name": "tfstate",
                "key": "caf_launchpad.tfstate",
                "resource_group_name": "{{prefix}}-rg-launchpad-level0",
                "sas_token": null,
                "storage_account_name": "{{prefix}}stlevel0",
                "subscription_id": "{{subscription_id}}",
                "tenant_id": "{{tenant_id}}",
                "use_azuread_auth": true
              },
              "type": [
                "object",
                {
                  "container_name": "string",
                  "key": "string",
                  "resource_group_name": "string",
                  "sas_token": "dynamic",
                  "storage_account_name": "string",
                  "subscription_id": "string",
                  "tenant_id": "string",
                  "use_azuread_auth": "bool"
                }
              ]
            },
            "defaults": null,
            "outputs": {
              "value": {
                "diagnostics": {
                  "diagnostics_definition": {},
                  "diagnostics_destinations": {},
                  "event_hub_namespaces": {},
                  "log_analytics": {},
                  "storage_accounts": {}
                },
                "global_settings": {
                  "default_region": "region1",
                  "environment": "sandpit",
                  "inherit_tags": true,
                  "passthrough": false,
                  "prefix": "{{prefix}}",
                  "prefix_with_hyphen": "{{prefix}}",
                  "prefixes": [
                    "{{prefix}}"
                  ],
                  "random_length": null,
                  "regions": {
                    "region1": "southeastasia",
                    "region2": "eastus"
                  },
                  "tags": {
                    "Application_Classification": "Standard",
                    "Data_Classification": "Internal",
                    "Name": "{{prefix}} - CAF Terraform Landingzones and solutions",
                    "Project_Code": "{{prefix}}"
                  },
                  "use_slug": true
                },
                "launchpad_identities": {},
                "objects": {
                  "launchpad": {
                    "client_config": {
                      "landingzone_key": "launchpad",
                      "subscription_id": "{{subscription_id}}",
                      "tenant_id": "{{tenant_id}}"
                    },
                    "diagnostics": {
                      "diagnostics_definition": {},
                      "diagnostics_destinations": {},
                      "event_hub_namespaces": {},
                      "log_analytics": {},
                      "storage_accounts": {}
                    },
                    "global_settings": {
                      "default_region": "region1",
                      "environment": "sandpit",
                      "inherit_tags": true,
                      "passthrough": false,
                      "prefix": "{{prefix}}",
                      "prefix_with_hyphen": "{{prefix}}",
                      "prefixes": [
                        "{{prefix}}"
                      ],
                      "random_length": null,
                      "regions": {
                        "region1": "southeastasia",
                        "region2": "eastus"
                      },
                      "tags": {
                        "Application_Classification": "Standard",
                        "Data_Classification": "Internal",
                        "Name": "{{prefix}} - CAF Terraform Landingzones and solutions",
                        "Project_Code": "{{prefix}}"
                      },
                      "use_slug": true
                    },
                    "keyvaults": {
                      "level0": {
                        "base_tags": {
                          "Application_Classification": "Standard",
                          "Data_Classification": "Internal",
                          "Name": "{{prefix}} - CAF Terraform Landingzones and solutions",
                          "Project_Code": "{{prefix}}",
                          "caf_environment": "sandpit",
                          "caf_tfstate": "level0",
                          "landingzone": "launchpad",
                          "level": "level0",
                          "rover_version": "aztfmod/rover:1.6.0-rc1-2310.0211"
                        },
                        "id": "/subscriptions/{{subscription_id}}/resourceGroups/{{prefix}}-rg-launchpad-level0/providers/Microsoft.KeyVault/vaults/{{prefix}}-kv-level0",
                        "name": "{{prefix}}-kv-level0",
                        "rbac_id": "/subscriptions/{{subscription_id}}/resourceGroups/{{prefix}}-rg-launchpad-level0/providers/Microsoft.KeyVault/vaults/{{prefix}}-kv-level0",
                        "vault_uri": "https://{{prefix}}-kv-level0.vault.azure.net/"
                      },
                      "level3": {
                        "base_tags": {
                          "Application_Classification": "Standard",
                          "Data_Classification": "Internal",
                          "Name": "{{prefix}} - CAF Terraform Landingzones and solutions",
                          "Project_Code": "{{prefix}}",
                          "caf_environment": "sandpit",
                          "caf_tfstate": "level3",
                          "landingzone": "launchpad",
                          "level": "level3",
                          "rover_version": "aztfmod/rover:1.6.0-rc1-2310.0211"
                        },
                        "id": "/subscriptions/{{subscription_id}}/resourceGroups/{{prefix}}-rg-launchpad-level3/providers/Microsoft.KeyVault/vaults/{{prefix}}-kv-level3",
                        "name": "{{prefix}}-kv-level3",
                        "rbac_id": "/subscriptions/{{subscription_id}}/resourceGroups/{{prefix}}-rg-launchpad-level3/providers/Microsoft.KeyVault/vaults/{{prefix}}-kv-level3",
                        "vault_uri": "https://{{prefix}}-kv-level3.vault.azure.net/"
                      },
                      "level4": {
                        "base_tags": {
                          "Application_Classification": "Standard",
                          "Data_Classification": "Internal",
                          "Name": "{{prefix}} - CAF Terraform Landingzones and solutions",
                          "Project_Code": "{{prefix}}",
                          "caf_environment": "sandpit",
                          "caf_tfstate": "level4",
                          "landingzone": "launchpad",
                          "level": "level4",
                          "rover_version": "aztfmod/rover:1.6.0-rc1-2310.0211"
                        },
                        "id": "/subscriptions/{{subscription_id}}/resourceGroups/{{prefix}}-rg-launchpad-level4/providers/Microsoft.KeyVault/vaults/{{prefix}}-kv-level4",
                        "name": "{{prefix}}-kv-level4",
                        "rbac_id": "/subscriptions/{{subscription_id}}/resourceGroups/{{prefix}}-rg-launchpad-level4/providers/Microsoft.KeyVault/vaults/{{prefix}}-kv-level4",
                        "vault_uri": "https://{{prefix}}-kv-level4.vault.azure.net/"
                      }
                    },
                    "resource_groups": {
                      "level0": {
                        "id": "/subscriptions/{{subscription_id}}/resourceGroups/{{prefix}}-rg-launchpad-level0",
                        "location": "southeastasia",
                        "name": "{{prefix}}-rg-launchpad-level0",
                        "rbac_id": "/subscriptions/{{subscription_id}}/resourceGroups/{{prefix}}-rg-launchpad-level0",
                        "tags": {
                          "Application_Classification": "Standard",
                          "Data_Classification": "Internal",
                          "Name": "{{prefix}} - CAF Terraform Landingzones and solutions",
                          "Project_Code": "{{prefix}}",
                          "caf_environment": "sandpit",
                          "landingzone": "launchpad",
                          "level": "level0",
                          "rover_version": "aztfmod/rover:1.6.0-rc1-2310.0211"
                        }
                      },
                      "level3": {
                        "id": "/subscriptions/{{subscription_id}}/resourceGroups/{{prefix}}-rg-launchpad-level3",
                        "location": "southeastasia",
                        "name": "{{prefix}}-rg-launchpad-level3",
                        "rbac_id": "/subscriptions/{{subscription_id}}/resourceGroups/{{prefix}}-rg-launchpad-level3",
                        "tags": {
                          "Application_Classification": "Standard",
                          "Data_Classification": "Internal",
                          "Name": "{{prefix}} - CAF Terraform Landingzones and solutions",
                          "Project_Code": "{{prefix}}",
                          "caf_environment": "sandpit",
                          "landingzone": "launchpad",
                          "level": "level3",
                          "rover_version": "aztfmod/rover:1.6.0-rc1-2310.0211"
                        }
                      },
                      "level4": {
                        "id": "/subscriptions/{{subscription_id}}/resourceGroups/{{prefix}}-rg-launchpad-level4",
                        "location": "southeastasia",
                        "name": "{{prefix}}-rg-launchpad-level4",
                        "rbac_id": "/subscriptions/{{subscription_id}}/resourceGroups/{{prefix}}-rg-launchpad-level4",
                        "tags": {
                          "Application_Classification": "Standard",
                          "Data_Classification": "Internal",
                          "Name": "{{prefix}} - CAF Terraform Landingzones and solutions",
                          "Project_Code": "{{prefix}}",
                          "caf_environment": "sandpit",
                          "landingzone": "launchpad",
                          "level": "level4",
                          "rover_version": "aztfmod/rover:1.6.0-rc1-2310.0211"
                        }
                      }
                    },
                    "storage_accounts": {
                      "level0": {
                        "backup_container_id": null,
                        "containers": {
                          "tfstate": {
                            "blobs": {},
                            "has_immutability_policy": false,
                            "has_legal_hold": false,
                            "id": "/subscriptions/{{subscription_id}}/resourceGroups/{{prefix}}-rg-launchpad-level0/providers/Microsoft.Storage/storageAccounts/{{prefix}}stlevel0/blobServices/default/containers/tfstate",
                            "name": "tfstate",
                            "resource_manager_id": "/subscriptions/{{subscription_id}}/resourceGroups/{{prefix}}-rg-launchpad-level0/providers/Microsoft.Storage/storageAccounts/{{prefix}}stlevel0/blobServices/default/containers/tfstate",
                            "url": "https://{{prefix}}stlevel0.blob.core.windows.net/tfstate"
                          }
                        },
                        "data_lake_filesystems": {},
                        "file_share": {},
                        "id": "/subscriptions/{{subscription_id}}/resourceGroups/{{prefix}}-rg-launchpad-level0/providers/Microsoft.Storage/storageAccounts/{{prefix}}stlevel0",
                        "identity": [],
                        "location": "southeastasia",
                        "name": "{{prefix}}stlevel0",
                        "primary_access_key": "BUtYgCszsvAPv1TDnoTZjx6zzPNC7VmN5iuCFthnstXExsl/iB2MC1Xcr/rx2Ju0/a699arSZn+S+AStNcWRVg==",
                        "primary_blob_connection_string": "DefaultEndpointsProtocol=https;BlobEndpoint=https://{{prefix}}stlevel0.blob.core.windows.net/;AccountName={{prefix}}stlevel0;AccountKey=BUtYgCszsvAPv1TDnoTZjx6zzPNC7VmN5iuCFthnstXExsl/iB2MC1Xcr/rx2Ju0/a699arSZn+S+AStNcWRVg==",
                        "primary_blob_endpoint": "https://{{prefix}}stlevel0.blob.core.windows.net/",
                        "primary_connection_string": "DefaultEndpointsProtocol=https;AccountName={{prefix}}stlevel0;AccountKey=BUtYgCszsvAPv1TDnoTZjx6zzPNC7VmN5iuCFthnstXExsl/iB2MC1Xcr/rx2Ju0/a699arSZn+S+AStNcWRVg==;EndpointSuffix=core.windows.net",
                        "primary_web_host": "",
                        "queues": {},
                        "rbac_id": null,
                        "resource_group_name": "{{prefix}}-rg-launchpad-level0"
                      },
                      "level3": {
                        "backup_container_id": null,
                        "containers": {
                          "tfstate": {
                            "blobs": {},
                            "has_immutability_policy": false,
                            "has_legal_hold": false,
                            "id": "/subscriptions/{{subscription_id}}/resourceGroups/{{prefix}}-rg-launchpad-level3/providers/Microsoft.Storage/storageAccounts/{{prefix}}stlevel3/blobServices/default/containers/tfstate",
                            "name": "tfstate",
                            "resource_manager_id": "/subscriptions/{{subscription_id}}/resourceGroups/{{prefix}}-rg-launchpad-level3/providers/Microsoft.Storage/storageAccounts/{{prefix}}stlevel3/blobServices/default/containers/tfstate",
                            "url": "https://{{prefix}}stlevel3.blob.core.windows.net/tfstate"
                          }
                        },
                        "data_lake_filesystems": {},
                        "file_share": {},
                        "id": "/subscriptions/{{subscription_id}}/resourceGroups/{{prefix}}-rg-launchpad-level3/providers/Microsoft.Storage/storageAccounts/{{prefix}}stlevel3",
                        "identity": [],
                        "location": "southeastasia",
                        "name": "{{prefix}}stlevel3",
                        "primary_access_key": "WNRsuTP48VVTWMNB2pesbKPDIWoLilXbci0pryfF44ZzLMJcshwILvXlpOvvmD2yGm4hvj0t1dT1+ASt6SWjkQ==",
                        "primary_blob_connection_string": "DefaultEndpointsProtocol=https;BlobEndpoint=https://{{prefix}}stlevel3.blob.core.windows.net/;AccountName={{prefix}}stlevel3;AccountKey=WNRsuTP48VVTWMNB2pesbKPDIWoLilXbci0pryfF44ZzLMJcshwILvXlpOvvmD2yGm4hvj0t1dT1+ASt6SWjkQ==",
                        "primary_blob_endpoint": "https://{{prefix}}stlevel3.blob.core.windows.net/",
                        "primary_connection_string": "DefaultEndpointsProtocol=https;AccountName={{prefix}}stlevel3;AccountKey=WNRsuTP48VVTWMNB2pesbKPDIWoLilXbci0pryfF44ZzLMJcshwILvXlpOvvmD2yGm4hvj0t1dT1+ASt6SWjkQ==;EndpointSuffix=core.windows.net",
                        "primary_web_host": "",
                        "queues": {},
                        "rbac_id": null,
                        "resource_group_name": "{{prefix}}-rg-launchpad-level3"
                      },
                      "level4": {
                        "backup_container_id": null,
                        "containers": {
                          "tfstate": {
                            "blobs": {},
                            "has_immutability_policy": false,
                            "has_legal_hold": false,
                            "id": "/subscriptions/{{subscription_id}}/resourceGroups/{{prefix}}-rg-launchpad-level4/providers/Microsoft.Storage/storageAccounts/{{prefix}}stlevel4/blobServices/default/containers/tfstate",
                            "name": "tfstate",
                            "resource_manager_id": "/subscriptions/{{subscription_id}}/resourceGroups/{{prefix}}-rg-launchpad-level4/providers/Microsoft.Storage/storageAccounts/{{prefix}}stlevel4/blobServices/default/containers/tfstate",
                            "url": "https://{{prefix}}stlevel4.blob.core.windows.net/tfstate"
                          }
                        },
                        "data_lake_filesystems": {},
                        "file_share": {},
                        "id": "/subscriptions/{{subscription_id}}/resourceGroups/{{prefix}}-rg-launchpad-level4/providers/Microsoft.Storage/storageAccounts/{{prefix}}stlevel4",
                        "identity": [],
                        "location": "southeastasia",
                        "name": "{{prefix}}stlevel4",
                        "primary_access_key": "jnp7AZMbnldHtDqV6tZ3wHxE/VpJUOuIo+4TnTw7u3KxaxyWRTRFnKptEoQZNwkiROdaLZ6KWBOD+AStgRcQCA==",
                        "primary_blob_connection_string": "DefaultEndpointsProtocol=https;BlobEndpoint=https://{{prefix}}stlevel4.blob.core.windows.net/;AccountName={{prefix}}stlevel4;AccountKey=jnp7AZMbnldHtDqV6tZ3wHxE/VpJUOuIo+4TnTw7u3KxaxyWRTRFnKptEoQZNwkiROdaLZ6KWBOD+AStgRcQCA==",
                        "primary_blob_endpoint": "https://{{prefix}}stlevel4.blob.core.windows.net/",
                        "primary_connection_string": "DefaultEndpointsProtocol=https;AccountName={{prefix}}stlevel4;AccountKey=jnp7AZMbnldHtDqV6tZ3wHxE/VpJUOuIo+4TnTw7u3KxaxyWRTRFnKptEoQZNwkiROdaLZ6KWBOD+AStgRcQCA==;EndpointSuffix=core.windows.net",
                        "primary_web_host": "",
                        "queues": {},
                        "rbac_id": null,
                        "resource_group_name": "{{prefix}}-rg-launchpad-level4"
                      }
                    }
                  }
                },
                "tfstates": {
                  "launchpad": {
                    "container_name": "tfstate",
                    "key": "caf_launchpad.tfstate",
                    "level": "level0",
                    "resource_group_name": "{{prefix}}-rg-launchpad-level0",
                    "storage_account_name": "{{prefix}}stlevel0",
                    "subscription_id": "{{subscription_id}}",
                    "tenant_id": "{{tenant_id}}"
                  }
                }
              },
              "type": [
                "object",
                {
                  "diagnostics": [
                    "object",
                    {
                      "diagnostics_definition": [
                        "object",
                        {}
                      ],
                      "diagnostics_destinations": [
                        "object",
                        {}
                      ],
                      "event_hub_namespaces": [
                        "object",
                        {}
                      ],
                      "log_analytics": [
                        "object",
                        {}
                      ],
                      "storage_accounts": [
                        "object",
                        {}
                      ]
                    }
                  ],
                  "global_settings": [
                    "object",
                    {
                      "default_region": "string",
                      "environment": "string",
                      "inherit_tags": "bool",
                      "passthrough": "bool",
                      "prefix": "string",
                      "prefix_with_hyphen": "string",
                      "prefixes": [
                        "tuple",
                        [
                          "string"
                        ]
                      ],
                      "random_length": "dynamic",
                      "regions": [
                        "map",
                        "string"
                      ],
                      "tags": [
                        "map",
                        "string"
                      ],
                      "use_slug": "bool"
                    }
                  ],
                  "launchpad_identities": [
                    "map",
                    [
                      "object",
                      {
                        "azuread_groups": [
                          "object",
                          {}
                        ],
                        "managed_identities": [
                          "object",
                          {}
                        ]
                      }
                    ]
                  ],
                  "objects": [
                    "map",
                    [
                      "object",
                      {
                        "client_config": [
                          "object",
                          {
                            "landingzone_key": "string",
                            "subscription_id": "string",
                            "tenant_id": "string"
                          }
                        ],
                        "diagnostics": [
                          "object",
                          {
                            "diagnostics_definition": [
                              "object",
                              {}
                            ],
                            "diagnostics_destinations": [
                              "object",
                              {}
                            ],
                            "event_hub_namespaces": [
                              "object",
                              {}
                            ],
                            "log_analytics": [
                              "object",
                              {}
                            ],
                            "storage_accounts": [
                              "object",
                              {}
                            ]
                          }
                        ],
                        "global_settings": [
                          "object",
                          {
                            "default_region": "string",
                            "environment": "string",
                            "inherit_tags": "bool",
                            "passthrough": "bool",
                            "prefix": "string",
                            "prefix_with_hyphen": "string",
                            "prefixes": [
                              "tuple",
                              [
                                "string"
                              ]
                            ],
                            "random_length": "dynamic",
                            "regions": [
                              "map",
                              "string"
                            ],
                            "tags": [
                              "map",
                              "string"
                            ],
                            "use_slug": "bool"
                          }
                        ],
                        "keyvaults": [
                          "object",
                          {
                            "level0": [
                              "object",
                              {
                                "base_tags": [
                                  "map",
                                  "string"
                                ],
                                "id": "string",
                                "name": "string",
                                "rbac_id": "string",
                                "vault_uri": "string"
                              }
                            ],
                            "level3": [
                              "object",
                              {
                                "base_tags": [
                                  "map",
                                  "string"
                                ],
                                "id": "string",
                                "name": "string",
                                "rbac_id": "string",
                                "vault_uri": "string"
                              }
                            ],
                            "level4": [
                              "object",
                              {
                                "base_tags": [
                                  "map",
                                  "string"
                                ],
                                "id": "string",
                                "name": "string",
                                "rbac_id": "string",
                                "vault_uri": "string"
                              }
                            ]
                          }
                        ],
                        "resource_groups": [
                          "object",
                          {
                            "level0": [
                              "object",
                              {
                                "id": "string",
                                "location": "string",
                                "name": "string",
                                "rbac_id": "string",
                                "tags": [
                                  "map",
                                  "string"
                                ]
                              }
                            ],
                            "level3": [
                              "object",
                              {
                                "id": "string",
                                "location": "string",
                                "name": "string",
                                "rbac_id": "string",
                                "tags": [
                                  "map",
                                  "string"
                                ]
                              }
                            ],
                            "level4": [
                              "object",
                              {
                                "id": "string",
                                "location": "string",
                                "name": "string",
                                "rbac_id": "string",
                                "tags": [
                                  "map",
                                  "string"
                                ]
                              }
                            ]
                          }
                        ],
                        "storage_accounts": [
                          "object",
                          {
                            "level0": [
                              "object",
                              {
                                "backup_container_id": "dynamic",
                                "containers": [
                                  "object",
                                  {
                                    "tfstate": [
                                      "object",
                                      {
                                        "blobs": [
                                          "object",
                                          {}
                                        ],
                                        "has_immutability_policy": "bool",
                                        "has_legal_hold": "bool",
                                        "id": "string",
                                        "name": "string",
                                        "resource_manager_id": "string",
                                        "url": "string"
                                      }
                                    ]
                                  }
                                ],
                                "data_lake_filesystems": [
                                  "object",
                                  {}
                                ],
                                "file_share": [
                                  "object",
                                  {}
                                ],
                                "id": "string",
                                "identity": [
                                  "list",
                                  [
                                    "object",
                                    {
                                      "identity_ids": [
                                        "set",
                                        "string"
                                      ],
                                      "principal_id": "string",
                                      "tenant_id": "string",
                                      "type": "string"
                                    }
                                  ]
                                ],
                                "location": "string",
                                "name": "string",
                                "primary_access_key": "string",
                                "primary_blob_connection_string": "string",
                                "primary_blob_endpoint": "string",
                                "primary_connection_string": "string",
                                "primary_web_host": "string",
                                "queues": [
                                  "object",
                                  {}
                                ],
                                "rbac_id": "dynamic",
                                "resource_group_name": "string"
                              }
                            ],
                            "level3": [
                              "object",
                              {
                                "backup_container_id": "dynamic",
                                "containers": [
                                  "object",
                                  {
                                    "tfstate": [
                                      "object",
                                      {
                                        "blobs": [
                                          "object",
                                          {}
                                        ],
                                        "has_immutability_policy": "bool",
                                        "has_legal_hold": "bool",
                                        "id": "string",
                                        "name": "string",
                                        "resource_manager_id": "string",
                                        "url": "string"
                                      }
                                    ]
                                  }
                                ],
                                "data_lake_filesystems": [
                                  "object",
                                  {}
                                ],
                                "file_share": [
                                  "object",
                                  {}
                                ],
                                "id": "string",
                                "identity": [
                                  "list",
                                  [
                                    "object",
                                    {
                                      "identity_ids": [
                                        "set",
                                        "string"
                                      ],
                                      "principal_id": "string",
                                      "tenant_id": "string",
                                      "type": "string"
                                    }
                                  ]
                                ],
                                "location": "string",
                                "name": "string",
                                "primary_access_key": "string",
                                "primary_blob_connection_string": "string",
                                "primary_blob_endpoint": "string",
                                "primary_connection_string": "string",
                                "primary_web_host": "string",
                                "queues": [
                                  "object",
                                  {}
                                ],
                                "rbac_id": "dynamic",
                                "resource_group_name": "string"
                              }
                            ],
                            "level4": [
                              "object",
                              {
                                "backup_container_id": "dynamic",
                                "containers": [
                                  "object",
                                  {
                                    "tfstate": [
                                      "object",
                                      {
                                        "blobs": [
                                          "object",
                                          {}
                                        ],
                                        "has_immutability_policy": "bool",
                                        "has_legal_hold": "bool",
                                        "id": "string",
                                        "name": "string",
                                        "resource_manager_id": "string",
                                        "url": "string"
                                      }
                                    ]
                                  }
                                ],
                                "data_lake_filesystems": [
                                  "object",
                                  {}
                                ],
                                "file_share": [
                                  "object",
                                  {}
                                ],
                                "id": "string",
                                "identity": [
                                  "list",
                                  [
                                    "object",
                                    {
                                      "identity_ids": [
                                        "set",
                                        "string"
                                      ],
                                      "principal_id": "string",
                                      "tenant_id": "string",
                                      "type": "string"
                                    }
                                  ]
                                ],
                                "location": "string",
                                "name": "string",
                                "primary_access_key": "string",
                                "primary_blob_connection_string": "string",
                                "primary_blob_endpoint": "string",
                                "primary_connection_string": "string",
                                "primary_web_host": "string",
                                "queues": [
                                  "object",
                                  {}
                                ],
                                "rbac_id": "dynamic",
                                "resource_group_name": "string"
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  ],
                  "tfstates": [
                    "map",
                    [
                      "object",
                      {
                        "container_name": "string",
                        "key": "string",
                        "level": "string",
                        "resource_group_name": "string",
                        "storage_account_name": "string",
                        "subscription_id": "string",
                        "tenant_id": "string"
                      }
                    ]
                  ]
                }
              ]
            },
            "workspace": null
          },
          "sensitive_attributes": []
        }
      ]
    },
    {
      "module": "module.solution.module.diagnostic_log_analytics[\"central_logs_region1\"]",
      "mode": "managed",
      "type": "azurecaf_name",
      "name": "law",
      "provider": "provider[\"registry.terraform.io/aztfmod/azurecaf\"]",
      "instances": [
        {
          "schema_version": 3,
          "attributes": {
            "clean_input": true,
            "id": "ccbawqqrvxetvewm",
            "name": "gcci-agency-workspace",
            "passthrough": false,
            "prefixes": [
              "{{prefix}}"
            ],
            "random_length": 0,
            "random_seed": null,
            "resource_type": "azurerm_log_analytics_workspace",
            "resource_types": null,
            "result": "gcci-agency-workspace",
            "results": {},
            "separator": "-",
            "suffixes": null,
            "use_slug": true
          },
          "sensitive_attributes": [],
          "private": "eyJzY2hlbWFfdmVyc2lvbiI6IjMifQ==",
          "dependencies": [
            "data.azurerm_client_config.current",
            "data.terraform_remote_state.remote",
            "module.solution.random_string.prefix"
          ]
        }
      ]
    },
    {
      "module": "module.solution.module.diagnostic_log_analytics[\"central_logs_region1\"]",
      "mode": "managed",
      "type": "azurerm_log_analytics_workspace",
      "name": "law",
      "provider": "provider[\"registry.terraform.io/hashicorp/azurerm\"]",
      "instances": [
        {
          "schema_version": 3,
          "attributes": {
            "allow_resource_only_permissions": true,
            "cmk_for_query_forced": false,
            "daily_quota_gb": -1,
            "data_collection_rule_id": "",
            "id": "/subscriptions/{{subscription_id}}/resourceGroups/gcci-agency-law/providers/Microsoft.OperationalInsights/workspaces/gcci-agency-workspace",
            "internet_ingestion_enabled": true,
            "internet_query_enabled": true,
            "local_authentication_disabled": false,
            "location": "southeastasia",
            "name": "gcci-agency-workspace",
            "primary_shared_key": "****************************************************************************************",
            "reservation_capacity_in_gb_per_day": null,
            "resource_group_name": "gcci-agency-law",
            "retention_in_days": 30,
            "secondary_shared_key": "****************************************************************************************",
            "sku": "PerGB2018",
            "tags": {
              "Application_Classification": "Standard",
              "Data_Classification": "Internal",
              "Name": "{{prefix}} - CAF Terraform Landingzones and solutions",
              "Project_Code": "{{prefix}}",
              "caf_environment": "sandpit",
              "caf_level": "level3",
              "env": "sandpit",
              "project-code": "{{prefix}}",
              "purpose": "hub internet resource group",
              "rover_version": "aztfmod/rover:1.6.0-rc1-2310.0211",
              "tier": "",
              "zone": "internet"
            },
            "timeouts": null,
            "workspace_id": "{{workspace_id}}"
          },
          "sensitive_attributes": [],
          "private": "********************************************************************************************************************************************************************************",
          "dependencies": [
            "data.azurerm_client_config.current",
            "data.terraform_remote_state.remote",
            "module.solution.data.azuread_client_config.current",
            "module.solution.data.azuread_service_principal.logged_in_app",
            "module.solution.data.azurerm_client_config.current",
            "module.solution.module.diagnostic_log_analytics.azurecaf_name.law",
            "module.solution.module.resource_group_reused.data.azurerm_resource_group.rg",
            "module.solution.module.resource_groups.azurecaf_name.rg",
            "module.solution.module.resource_groups.azurerm_resource_group.rg",
            "module.solution.random_string.prefix"
          ]
        }
      ]
    },
    {
      "module": "module.solution.module.networking[\"vnet_hub_internet_egress_re1\"]",
      "mode": "managed",
      "type": "azurecaf_name",
      "name": "caf_name_vnet",
      "provider": "provider[\"registry.terraform.io/aztfmod/azurecaf\"]",
      "instances": [
        {
          "schema_version": 3,
          "attributes": {
            "clean_input": true,
            "id": "xkugbhlvastipjgh",
            "name": "hub-internet-egress-re1",
            "passthrough": false,
            "prefixes": [
              "{{prefix}}"
            ],
            "random_length": 0,
            "random_seed": null,
            "resource_type": "azurerm_virtual_network",
            "resource_types": null,
            "result": "gcci-vnet-egress-internet",
            "results": {},
            "separator": "-",
            "suffixes": null,
            "use_slug": true
          },
          "sensitive_attributes": [],
          "private": "eyJzY2hlbWFfdmVyc2lvbiI6IjMifQ==",
          "dependencies": [
            "data.azurerm_client_config.current",
            "data.terraform_remote_state.remote",
            "module.solution.data.azuread_client_config.current",
            "module.solution.data.azuread_service_principal.logged_in_app",
            "module.solution.data.azurerm_client_config.current",
            "module.solution.module.network_watchers.azurecaf_name.netwatcher",
            "module.solution.module.network_watchers.azurerm_network_watcher.netwatcher",
            "module.solution.module.resource_group_reused.data.azurerm_resource_group.rg",
            "module.solution.module.resource_groups.azurecaf_name.rg",
            "module.solution.module.resource_groups.azurerm_resource_group.rg",
            "module.solution.random_string.prefix"
          ]
        }
      ]
    },
    {
      "module": "module.solution.module.networking[\"vnet_hub_internet_egress_re1\"]",
      "mode": "managed",
      "type": "azurerm_virtual_network",
      "name": "vnet",
      "provider": "provider[\"registry.terraform.io/hashicorp/azurerm\"]",
      "instances": [
        {
          "schema_version": 0,
          "attributes": {
            "address_space": [
              "100.127.1.0/24"
            ],
            "bgp_community": "",
            "ddos_protection_plan": [],
            "dns_servers": [],
            "edge_zone": "",
            "encryption": [],
            "flow_timeout_in_minutes": 0,
            "guid": "1396f724-e5ad-4c5f-af02-ef52d67ee8f7",
            "id": "/subscriptions/{{subscription_id}}/resourceGroups/gcci-platform/providers/Microsoft.Network/virtualNetworks/gcci-vnet-egress-internet",
            "location": "southeastasia",
            "name": "gcci-vnet-egress-internet",
            "resource_group_name": "gcci-platform",
            "subnet": [],
            "tags": {
              "Application_Classification": "Standard",
              "Data_Classification": "Internal",
              "Name": "{{prefix}} - CAF Terraform Landingzones and solutions",
              "Project_Code": "{{prefix}}",
              "caf_environment": "sandpit",
              "caf_level": "level3",
              "env": "sandpit",
              "project-code": "{{prefix}}",
              "purpose": "hub internet resource group",
              "rover_version": "aztfmod/rover:1.6.0-rc1-2310.0211",
              "tier": "",
              "zone": "internet"
            },
            "timeouts": null
          },
          "sensitive_attributes": [],
          "private": "********************************************************************************************************************************************************************************",
          "dependencies": [
            "data.azurerm_client_config.current",
            "data.terraform_remote_state.remote",
            "module.solution.azurecaf_name.ddos_protection_plan",
            "module.solution.azurerm_network_ddos_protection_plan.ddos_protection_plan",
            "module.solution.data.azuread_client_config.current",
            "module.solution.data.azuread_service_principal.logged_in_app",
            "module.solution.data.azurerm_client_config.current",
            "module.solution.module.network_watchers.azurecaf_name.netwatcher",
            "module.solution.module.network_watchers.azurerm_network_watcher.netwatcher",
            "module.solution.module.networking.azurecaf_name.caf_name_vnet",
            "module.solution.module.resource_group_reused.data.azurerm_resource_group.rg",
            "module.solution.module.resource_groups.azurecaf_name.rg",
            "module.solution.module.resource_groups.azurerm_resource_group.rg",
            "module.solution.random_string.prefix"
          ]
        }
      ]
    },
    {
      "module": "module.solution.module.networking[\"vnet_hub_internet_ingress_re1\"]",
      "mode": "managed",
      "type": "azurecaf_name",
      "name": "caf_name_vnet",
      "provider": "provider[\"registry.terraform.io/aztfmod/azurecaf\"]",
      "instances": [
        {
          "schema_version": 3,
          "attributes": {
            "clean_input": true,
            "id": "bbwvmphqyasabdkh",
            "name": "hub-internet-ingress-re1",
            "passthrough": false,
            "prefixes": [
              "{{prefix}}"
            ],
            "random_length": 0,
            "random_seed": null,
            "resource_type": "azurerm_virtual_network",
            "resource_types": null,
            "result": "gcci-vnet-ingress-internet",
            "results": {},
            "separator": "-",
            "suffixes": null,
            "use_slug": true
          },
          "sensitive_attributes": [],
          "private": "eyJzY2hlbWFfdmVyc2lvbiI6IjMifQ==",
          "dependencies": [
            "data.azurerm_client_config.current",
            "data.terraform_remote_state.remote",
            "module.solution.data.azuread_client_config.current",
            "module.solution.data.azuread_service_principal.logged_in_app",
            "module.solution.data.azurerm_client_config.current",
            "module.solution.module.network_watchers.azurecaf_name.netwatcher",
            "module.solution.module.network_watchers.azurerm_network_watcher.netwatcher",
            "module.solution.module.resource_group_reused.data.azurerm_resource_group.rg",
            "module.solution.module.resource_groups.azurecaf_name.rg",
            "module.solution.module.resource_groups.azurerm_resource_group.rg",
            "module.solution.random_string.prefix"
          ]
        }
      ]
    },
    {
      "module": "module.solution.module.networking[\"vnet_hub_internet_ingress_re1\"]",
      "mode": "managed",
      "type": "azurerm_virtual_network",
      "name": "vnet",
      "provider": "provider[\"registry.terraform.io/hashicorp/azurerm\"]",
      "instances": [
        {
          "schema_version": 0,
          "attributes": {
            "address_space": [
              "100.127.0.0/24"
            ],
            "bgp_community": "",
            "ddos_protection_plan": [],
            "dns_servers": [],
            "edge_zone": "",
            "encryption": [],
            "flow_timeout_in_minutes": 0,
            "guid": "71de9ba9-f2f7-45a0-8a10-1fa89f02eb11",
            "id": "/subscriptions/{{subscription_id}}/resourceGroups/gcci-platform/providers/Microsoft.Network/virtualNetworks/gcci-vnet-ingress-internet",
            "location": "southeastasia",
            "name": "gcci-vnet-ingress-internet",
            "resource_group_name": "gcci-platform",
            "subnet": [],
            "tags": {
              "Application_Classification": "Standard",
              "Data_Classification": "Internal",
              "Name": "{{prefix}} - CAF Terraform Landingzones and solutions",
              "Project_Code": "{{prefix}}",
              "caf_environment": "sandpit",
              "caf_level": "level3",
              "env": "sandpit",
              "project-code": "{{prefix}}",
              "purpose": "hub internet resource group",
              "rover_version": "aztfmod/rover:1.6.0-rc1-2310.0211",
              "tier": "",
              "zone": "internet"
            },
            "timeouts": null
          },
          "sensitive_attributes": [],
          "private": "********************************************************************************************************************************************************************************",
          "dependencies": [
            "data.azurerm_client_config.current",
            "data.terraform_remote_state.remote",
            "module.solution.azurecaf_name.ddos_protection_plan",
            "module.solution.azurerm_network_ddos_protection_plan.ddos_protection_plan",
            "module.solution.data.azuread_client_config.current",
            "module.solution.data.azuread_service_principal.logged_in_app",
            "module.solution.data.azurerm_client_config.current",
            "module.solution.module.network_watchers.azurecaf_name.netwatcher",
            "module.solution.module.network_watchers.azurerm_network_watcher.netwatcher",
            "module.solution.module.networking.azurecaf_name.caf_name_vnet",
            "module.solution.module.resource_group_reused.data.azurerm_resource_group.rg",
            "module.solution.module.resource_groups.azurecaf_name.rg",
            "module.solution.module.resource_groups.azurerm_resource_group.rg",
            "module.solution.random_string.prefix"
          ]
        }
      ]
    },
    {
      "module": "module.solution.module.networking[\"vnet_hub_intranet_egress_re1\"]",
      "mode": "managed",
      "type": "azurecaf_name",
      "name": "caf_name_vnet",
      "provider": "provider[\"registry.terraform.io/aztfmod/azurecaf\"]",
      "instances": [
        {
          "schema_version": 3,
          "attributes": {
            "clean_input": true,
            "id": "nddqcopylilmuqhb",
            "name": "hub-intranet-egress-re1",
            "passthrough": false,
            "prefixes": [
              "{{prefix}}"
            ],
            "random_length": 0,
            "random_seed": null,
            "resource_type": "azurerm_virtual_network",
            "resource_types": null,
            "result": "gcci-vnet-egress-intranet",
            "results": {},
            "separator": "-",
            "suffixes": null,
            "use_slug": true
          },
          "sensitive_attributes": [],
          "private": "eyJzY2hlbWFfdmVyc2lvbiI6IjMifQ==",
          "dependencies": [
            "data.azurerm_client_config.current",
            "data.terraform_remote_state.remote",
            "module.solution.data.azuread_client_config.current",
            "module.solution.data.azuread_service_principal.logged_in_app",
            "module.solution.data.azurerm_client_config.current",
            "module.solution.module.network_watchers.azurecaf_name.netwatcher",
            "module.solution.module.network_watchers.azurerm_network_watcher.netwatcher",
            "module.solution.module.resource_group_reused.data.azurerm_resource_group.rg",
            "module.solution.module.resource_groups.azurecaf_name.rg",
            "module.solution.module.resource_groups.azurerm_resource_group.rg",
            "module.solution.random_string.prefix"
          ]
        }
      ]
    },
    {
      "module": "module.solution.module.networking[\"vnet_hub_intranet_egress_re1\"]",
      "mode": "managed",
      "type": "azurerm_virtual_network",
      "name": "vnet",
      "provider": "provider[\"registry.terraform.io/hashicorp/azurerm\"]",
      "instances": [
        {
          "schema_version": 0,
          "attributes": {
            "address_space": [
              "10.127.1.0/25"
            ],
            "bgp_community": "",
            "ddos_protection_plan": [],
            "dns_servers": [],
            "edge_zone": "",
            "encryption": [],
            "flow_timeout_in_minutes": 0,
            "guid": "78d9854d-308d-45a0-bdeb-fc4e23ef2210",
            "id": "/subscriptions/{{subscription_id}}/resourceGroups/gcci-platform/providers/Microsoft.Network/virtualNetworks/gcci-vnet-egress-intranet",
            "location": "southeastasia",
            "name": "gcci-vnet-egress-intranet",
            "resource_group_name": "gcci-platform",
            "subnet": [],
            "tags": {
              "Application_Classification": "Standard",
              "Data_Classification": "Internal",
              "Name": "{{prefix}} - CAF Terraform Landingzones and solutions",
              "Project_Code": "{{prefix}}",
              "caf_environment": "sandpit",
              "caf_level": "level3",
              "env": "sandpit",
              "project-code": "{{prefix}}",
              "purpose": "hub internet resource group",
              "rover_version": "aztfmod/rover:1.6.0-rc1-2310.0211",
              "tier": "",
              "zone": "internet"
            },
            "timeouts": null
          },
          "sensitive_attributes": [],
          "private": "********************************************************************************************************************************************************************************",
          "dependencies": [
            "data.azurerm_client_config.current",
            "data.terraform_remote_state.remote",
            "module.solution.azurecaf_name.ddos_protection_plan",
            "module.solution.azurerm_network_ddos_protection_plan.ddos_protection_plan",
            "module.solution.data.azuread_client_config.current",
            "module.solution.data.azuread_service_principal.logged_in_app",
            "module.solution.data.azurerm_client_config.current",
            "module.solution.module.network_watchers.azurecaf_name.netwatcher",
            "module.solution.module.network_watchers.azurerm_network_watcher.netwatcher",
            "module.solution.module.networking.azurecaf_name.caf_name_vnet",
            "module.solution.module.resource_group_reused.data.azurerm_resource_group.rg",
            "module.solution.module.resource_groups.azurecaf_name.rg",
            "module.solution.module.resource_groups.azurerm_resource_group.rg",
            "module.solution.random_string.prefix"
          ]
        }
      ]
    },
    {
      "module": "module.solution.module.networking[\"vnet_hub_intranet_ingress_re1\"]",
      "mode": "managed",
      "type": "azurecaf_name",
      "name": "caf_name_vnet",
      "provider": "provider[\"registry.terraform.io/aztfmod/azurecaf\"]",
      "instances": [
        {
          "schema_version": 3,
          "attributes": {
            "clean_input": true,
            "id": "ibkcbmlwdcsyxckw",
            "name": "hub-intranet-ingress-re1",
            "passthrough": false,
            "prefixes": [
              "{{prefix}}"
            ],
            "random_length": 0,
            "random_seed": null,
            "resource_type": "azurerm_virtual_network",
            "resource_types": null,
            "result": "gcci-vnet-ingress-intranet",
            "results": {},
            "separator": "-",
            "suffixes": null,
            "use_slug": true
          },
          "sensitive_attributes": [],
          "private": "eyJzY2hlbWFfdmVyc2lvbiI6IjMifQ==",
          "dependencies": [
            "data.azurerm_client_config.current",
            "data.terraform_remote_state.remote",
            "module.solution.data.azuread_client_config.current",
            "module.solution.data.azuread_service_principal.logged_in_app",
            "module.solution.data.azurerm_client_config.current",
            "module.solution.module.network_watchers.azurecaf_name.netwatcher",
            "module.solution.module.network_watchers.azurerm_network_watcher.netwatcher",
            "module.solution.module.resource_group_reused.data.azurerm_resource_group.rg",
            "module.solution.module.resource_groups.azurecaf_name.rg",
            "module.solution.module.resource_groups.azurerm_resource_group.rg",
            "module.solution.random_string.prefix"
          ]
        }
      ]
    },
    {
      "module": "module.solution.module.networking[\"vnet_hub_intranet_ingress_re1\"]",
      "mode": "managed",
      "type": "azurerm_virtual_network",
      "name": "vnet",
      "provider": "provider[\"registry.terraform.io/hashicorp/azurerm\"]",
      "instances": [
        {
          "schema_version": 0,
          "attributes": {
            "address_space": [
              "10.127.0.0/25"
            ],
            "bgp_community": "",
            "ddos_protection_plan": [],
            "dns_servers": [],
            "edge_zone": "",
            "encryption": [],
            "flow_timeout_in_minutes": 0,
            "guid": "cf248228-4549-4477-a1f4-504cede4a85a",
            "id": "/subscriptions/{{subscription_id}}/resourceGroups/gcci-platform/providers/Microsoft.Network/virtualNetworks/gcci-vnet-ingress-intranet",
            "location": "southeastasia",
            "name": "gcci-vnet-ingress-intranet",
            "resource_group_name": "gcci-platform",
            "subnet": [],
            "tags": {
              "Application_Classification": "Standard",
              "Data_Classification": "Internal",
              "Name": "{{prefix}} - CAF Terraform Landingzones and solutions",
              "Project_Code": "{{prefix}}",
              "caf_environment": "sandpit",
              "caf_level": "level3",
              "env": "sandpit",
              "project-code": "{{prefix}}",
              "purpose": "hub internet resource group",
              "rover_version": "aztfmod/rover:1.6.0-rc1-2310.0211",
              "tier": "",
              "zone": "internet"
            },
            "timeouts": null
          },
          "sensitive_attributes": [],
          "private": "********************************************************************************************************************************************************************************",
          "dependencies": [
            "data.azurerm_client_config.current",
            "data.terraform_remote_state.remote",
            "module.solution.azurecaf_name.ddos_protection_plan",
            "module.solution.azurerm_network_ddos_protection_plan.ddos_protection_plan",
            "module.solution.data.azuread_client_config.current",
            "module.solution.data.azuread_service_principal.logged_in_app",
            "module.solution.data.azurerm_client_config.current",
            "module.solution.module.network_watchers.azurecaf_name.netwatcher",
            "module.solution.module.network_watchers.azurerm_network_watcher.netwatcher",
            "module.solution.module.networking.azurecaf_name.caf_name_vnet",
            "module.solution.module.resource_group_reused.data.azurerm_resource_group.rg",
            "module.solution.module.resource_groups.azurecaf_name.rg",
            "module.solution.module.resource_groups.azurerm_resource_group.rg",
            "module.solution.random_string.prefix"
          ]
        }
      ]
    },
    {
      "module": "module.solution.module.networking[\"vnet_hub_management_re1\"]",
      "mode": "managed",
      "type": "azurecaf_name",
      "name": "caf_name_vnet",
      "provider": "provider[\"registry.terraform.io/aztfmod/azurecaf\"]",
      "instances": [
        {
          "schema_version": 3,
          "attributes": {
            "clean_input": true,
            "id": "hjxordrvdficvhmr",
            "name": "spoke-management-re1",
            "passthrough": false,
            "prefixes": [
              "{{prefix}}"
            ],
            "random_length": 0,
            "random_seed": null,
            "resource_type": "azurerm_virtual_network",
            "resource_types": null,
            "result": "gcci-vnet-management",
            "results": {},
            "separator": "-",
            "suffixes": null,
            "use_slug": true
          },
          "sensitive_attributes": [],
          "private": "eyJzY2hlbWFfdmVyc2lvbiI6IjMifQ==",
          "dependencies": [
            "data.azurerm_client_config.current",
            "data.terraform_remote_state.remote",
            "module.solution.data.azuread_client_config.current",
            "module.solution.data.azuread_service_principal.logged_in_app",
            "module.solution.data.azurerm_client_config.current",
            "module.solution.module.network_watchers.azurecaf_name.netwatcher",
            "module.solution.module.network_watchers.azurerm_network_watcher.netwatcher",
            "module.solution.module.resource_group_reused.data.azurerm_resource_group.rg",
            "module.solution.module.resource_groups.azurecaf_name.rg",
            "module.solution.module.resource_groups.azurerm_resource_group.rg",
            "module.solution.random_string.prefix"
          ]
        }
      ]
    },
    {
      "module": "module.solution.module.networking[\"vnet_hub_management_re1\"]",
      "mode": "managed",
      "type": "azurerm_virtual_network",
      "name": "vnet",
      "provider": "provider[\"registry.terraform.io/hashicorp/azurerm\"]",
      "instances": [
        {
          "schema_version": 0,
          "attributes": {
            "address_space": [
              "100.127.3.0/24"
            ],
            "bgp_community": "",
            "ddos_protection_plan": [],
            "dns_servers": [],
            "edge_zone": "",
            "encryption": [],
            "flow_timeout_in_minutes": 0,
            "guid": "4e702c90-2553-4572-90fa-2495418ca053",
            "id": "/subscriptions/{{subscription_id}}/resourceGroups/gcci-platform/providers/Microsoft.Network/virtualNetworks/gcci-vnet-management",
            "location": "southeastasia",
            "name": "gcci-vnet-management",
            "resource_group_name": "gcci-platform",
            "subnet": [],
            "tags": {
              "Application_Classification": "Standard",
              "Data_Classification": "Internal",
              "Name": "{{prefix}} - CAF Terraform Landingzones and solutions",
              "Project_Code": "{{prefix}}",
              "caf_environment": "sandpit",
              "caf_level": "level3",
              "env": "sandpit",
              "project-code": "{{prefix}}",
              "purpose": "hub internet resource group",
              "rover_version": "aztfmod/rover:1.6.0-rc1-2310.0211",
              "tier": "",
              "zone": "internet"
            },
            "timeouts": null
          },
          "sensitive_attributes": [],
          "private": "********************************************************************************************************************************************************************************",
          "dependencies": [
            "data.azurerm_client_config.current",
            "data.terraform_remote_state.remote",
            "module.solution.azurecaf_name.ddos_protection_plan",
            "module.solution.azurerm_network_ddos_protection_plan.ddos_protection_plan",
            "module.solution.data.azuread_client_config.current",
            "module.solution.data.azuread_service_principal.logged_in_app",
            "module.solution.data.azurerm_client_config.current",
            "module.solution.module.network_watchers.azurecaf_name.netwatcher",
            "module.solution.module.network_watchers.azurerm_network_watcher.netwatcher",
            "module.solution.module.networking.azurecaf_name.caf_name_vnet",
            "module.solution.module.resource_group_reused.data.azurerm_resource_group.rg",
            "module.solution.module.resource_groups.azurecaf_name.rg",
            "module.solution.module.resource_groups.azurerm_resource_group.rg",
            "module.solution.random_string.prefix"
          ]
        }
      ]
    },
    {
      "module": "module.solution.module.networking[\"vnet_spoke_devops_re1\"]",
      "mode": "managed",
      "type": "azurecaf_name",
      "name": "caf_name_vnet",
      "provider": "provider[\"registry.terraform.io/aztfmod/azurecaf\"]",
      "instances": [
        {
          "schema_version": 3,
          "attributes": {
            "clean_input": true,
            "id": "luqpiyktgejjmwli",
            "name": "spoke-devops-re1",
            "passthrough": false,
            "prefixes": [
              "{{prefix}}"
            ],
            "random_length": 0,
            "random_seed": null,
            "resource_type": "azurerm_virtual_network",
            "resource_types": null,
            "result": "gcci-vnet-devops",
            "results": {},
            "separator": "-",
            "suffixes": null,
            "use_slug": true
          },
          "sensitive_attributes": [],
          "private": "eyJzY2hlbWFfdmVyc2lvbiI6IjMifQ==",
          "dependencies": [
            "data.azurerm_client_config.current",
            "data.terraform_remote_state.remote",
            "module.solution.data.azuread_client_config.current",
            "module.solution.data.azuread_service_principal.logged_in_app",
            "module.solution.data.azurerm_client_config.current",
            "module.solution.module.network_watchers.azurecaf_name.netwatcher",
            "module.solution.module.network_watchers.azurerm_network_watcher.netwatcher",
            "module.solution.module.resource_group_reused.data.azurerm_resource_group.rg",
            "module.solution.module.resource_groups.azurecaf_name.rg",
            "module.solution.module.resource_groups.azurerm_resource_group.rg",
            "module.solution.random_string.prefix"
          ]
        }
      ]
    },
    {
      "module": "module.solution.module.networking[\"vnet_spoke_devops_re1\"]",
      "mode": "managed",
      "type": "azurerm_virtual_network",
      "name": "vnet",
      "provider": "provider[\"registry.terraform.io/hashicorp/azurerm\"]",
      "instances": [
        {
          "schema_version": 0,
          "attributes": {
            "address_space": [
              "100.127.4.0/24"
            ],
            "bgp_community": "",
            "ddos_protection_plan": [],
            "dns_servers": [],
            "edge_zone": "",
            "encryption": [],
            "flow_timeout_in_minutes": 0,
            "guid": "426ff077-0033-459a-ac80-77ffccb1c3fa",
            "id": "/subscriptions/{{subscription_id}}/resourceGroups/gcci-platform/providers/Microsoft.Network/virtualNetworks/gcci-vnet-devops",
            "location": "southeastasia",
            "name": "gcci-vnet-devops",
            "resource_group_name": "gcci-platform",
            "subnet": [],
            "tags": {
              "Application_Classification": "Standard",
              "Data_Classification": "Internal",
              "Name": "{{prefix}} - CAF Terraform Landingzones and solutions",
              "Project_Code": "{{prefix}}",
              "caf_environment": "sandpit",
              "caf_level": "level3",
              "env": "sandpit",
              "project-code": "{{prefix}}",
              "purpose": "hub internet resource group",
              "rover_version": "aztfmod/rover:1.6.0-rc1-2310.0211",
              "tier": "",
              "zone": "internet"
            },
            "timeouts": null
          },
          "sensitive_attributes": [],
          "private": "********************************************************************************************************************************************************************************",
          "dependencies": [
            "data.azurerm_client_config.current",
            "data.terraform_remote_state.remote",
            "module.solution.azurecaf_name.ddos_protection_plan",
            "module.solution.azurerm_network_ddos_protection_plan.ddos_protection_plan",
            "module.solution.data.azuread_client_config.current",
            "module.solution.data.azuread_service_principal.logged_in_app",
            "module.solution.data.azurerm_client_config.current",
            "module.solution.module.network_watchers.azurecaf_name.netwatcher",
            "module.solution.module.network_watchers.azurerm_network_watcher.netwatcher",
            "module.solution.module.networking.azurecaf_name.caf_name_vnet",
            "module.solution.module.resource_group_reused.data.azurerm_resource_group.rg",
            "module.solution.module.resource_groups.azurecaf_name.rg",
            "module.solution.module.resource_groups.azurerm_resource_group.rg",
            "module.solution.random_string.prefix"
          ]
        }
      ]
    },
    {
      "module": "module.solution.module.networking[\"vnet_spoke_internet_re1\"]",
      "mode": "managed",
      "type": "azurecaf_name",
      "name": "caf_name_vnet",
      "provider": "provider[\"registry.terraform.io/aztfmod/azurecaf\"]",
      "instances": [
        {
          "schema_version": 3,
          "attributes": {
            "clean_input": true,
            "id": "lkjjmfuokjhqqitn",
            "name": "spoke-internet-re1",
            "passthrough": false,
            "prefixes": [
              "{{prefix}}"
            ],
            "random_length": 0,
            "random_seed": null,
            "resource_type": "azurerm_virtual_network",
            "resource_types": null,
            "result": "gcci-vnet-internet",
            "results": {},
            "separator": "-",
            "suffixes": null,
            "use_slug": true
          },
          "sensitive_attributes": [],
          "private": "eyJzY2hlbWFfdmVyc2lvbiI6IjMifQ==",
          "dependencies": [
            "data.azurerm_client_config.current",
            "data.terraform_remote_state.remote",
            "module.solution.data.azuread_client_config.current",
            "module.solution.data.azuread_service_principal.logged_in_app",
            "module.solution.data.azurerm_client_config.current",
            "module.solution.module.network_watchers.azurecaf_name.netwatcher",
            "module.solution.module.network_watchers.azurerm_network_watcher.netwatcher",
            "module.solution.module.resource_group_reused.data.azurerm_resource_group.rg",
            "module.solution.module.resource_groups.azurecaf_name.rg",
            "module.solution.module.resource_groups.azurerm_resource_group.rg",
            "module.solution.random_string.prefix"
          ]
        }
      ]
    },
    {
      "module": "module.solution.module.networking[\"vnet_spoke_internet_re1\"]",
      "mode": "managed",
      "type": "azurerm_virtual_network",
      "name": "vnet",
      "provider": "provider[\"registry.terraform.io/hashicorp/azurerm\"]",
      "instances": [
        {
          "schema_version": 0,
          "attributes": {
            "address_space": [
              "100.64.0.0/23"
            ],
            "bgp_community": "",
            "ddos_protection_plan": [],
            "dns_servers": [],
            "edge_zone": "",
            "encryption": [],
            "flow_timeout_in_minutes": 0,
            "guid": "94ed6b02-670e-44ca-a380-c919c28f7d0b",
            "id": "/subscriptions/{{subscription_id}}/resourceGroups/gcci-platform/providers/Microsoft.Network/virtualNetworks/gcci-vnet-internet",
            "location": "southeastasia",
            "name": "gcci-vnet-internet",
            "resource_group_name": "gcci-platform",
            "subnet": [],
            "tags": {
              "Application_Classification": "Standard",
              "Data_Classification": "Internal",
              "Name": "{{prefix}} - CAF Terraform Landingzones and solutions",
              "Project_Code": "{{prefix}}",
              "caf_environment": "sandpit",
              "caf_level": "level3",
              "env": "sandpit",
              "project-code": "{{prefix}}",
              "purpose": "hub internet resource group",
              "rover_version": "aztfmod/rover:1.6.0-rc1-2310.0211",
              "tier": "",
              "zone": "internet"
            },
            "timeouts": null
          },
          "sensitive_attributes": [],
          "private": "********************************************************************************************************************************************************************************",
          "dependencies": [
            "data.azurerm_client_config.current",
            "data.terraform_remote_state.remote",
            "module.solution.azurecaf_name.ddos_protection_plan",
            "module.solution.azurerm_network_ddos_protection_plan.ddos_protection_plan",
            "module.solution.data.azuread_client_config.current",
            "module.solution.data.azuread_service_principal.logged_in_app",
            "module.solution.data.azurerm_client_config.current",
            "module.solution.module.network_watchers.azurecaf_name.netwatcher",
            "module.solution.module.network_watchers.azurerm_network_watcher.netwatcher",
            "module.solution.module.networking.azurecaf_name.caf_name_vnet",
            "module.solution.module.resource_group_reused.data.azurerm_resource_group.rg",
            "module.solution.module.resource_groups.azurecaf_name.rg",
            "module.solution.module.resource_groups.azurerm_resource_group.rg",
            "module.solution.random_string.prefix"
          ]
        }
      ]
    },
    {
      "module": "module.solution.module.resource_groups[\"agency_law_re1\"]",
      "mode": "managed",
      "type": "azurecaf_name",
      "name": "rg",
      "provider": "provider[\"registry.terraform.io/aztfmod/azurecaf\"]",
      "instances": [
        {
          "schema_version": 3,
          "attributes": {
            "clean_input": true,
            "id": "ncukstjnnhkibucr",
            "name": "gcci-agency-law",
            "passthrough": false,
            "prefixes": [
              "{{prefix}}"
            ],
            "random_length": 0,
            "random_seed": null,
            "resource_type": "azurerm_resource_group",
            "resource_types": null,
            "result": "gcci-agency-law",
            "results": {},
            "separator": "-",
            "suffixes": null,
            "use_slug": true
          },
          "sensitive_attributes": [],
          "private": "eyJzY2hlbWFfdmVyc2lvbiI6IjMifQ==",
          "dependencies": [
            "data.azurerm_client_config.current",
            "data.terraform_remote_state.remote",
            "module.solution.random_string.prefix"
          ]
        }
      ]
    },
    {
      "module": "module.solution.module.resource_groups[\"agency_law_re1\"]",
      "mode": "managed",
      "type": "azurerm_resource_group",
      "name": "rg",
      "provider": "provider[\"registry.terraform.io/hashicorp/azurerm\"]",
      "instances": [
        {
          "schema_version": 0,
          "attributes": {
            "id": "/subscriptions/{{subscription_id}}/resourceGroups/gcci-agency-law",
            "location": "southeastasia",
            "managed_by": "",
            "name": "gcci-agency-law",
            "tags": {
              "Application_Classification": "Standard",
              "Data_Classification": "Internal",
              "Name": "{{prefix}} - CAF Terraform Landingzones and solutions",
              "Project_Code": "{{prefix}}",
              "caf_environment": "sandpit",
              "caf_level": "level3",
              "env": "sandpit",
              "project-code": "{{prefix}}",
              "purpose": "hub internet resource group",
              "rover_version": "aztfmod/rover:1.6.0-rc1-2310.0211",
              "tier": "",
              "zone": "internet"
            },
            "timeouts": null
          },
          "sensitive_attributes": [],
          "private": "********************************************************************************************************************************************************************************",
          "dependencies": [
            "data.azurerm_client_config.current",
            "data.terraform_remote_state.remote",
            "module.solution.module.resource_groups.azurecaf_name.rg",
            "module.solution.random_string.prefix"
          ]
        }
      ]
    },
    {
      "module": "module.solution.module.resource_groups[\"networking_vnets_re1\"]",
      "mode": "managed",
      "type": "azurecaf_name",
      "name": "rg",
      "provider": "provider[\"registry.terraform.io/aztfmod/azurecaf\"]",
      "instances": [
        {
          "schema_version": 3,
          "attributes": {
            "clean_input": true,
            "id": "xkxlnenhqxotctjs",
            "name": "gcci-platform",
            "passthrough": false,
            "prefixes": [
              "{{prefix}}"
            ],
            "random_length": 0,
            "random_seed": null,
            "resource_type": "azurerm_resource_group",
            "resource_types": null,
            "result": "gcci-platform",
            "results": {},
            "separator": "-",
            "suffixes": null,
            "use_slug": true
          },
          "sensitive_attributes": [],
          "private": "eyJzY2hlbWFfdmVyc2lvbiI6IjMifQ==",
          "dependencies": [
            "data.azurerm_client_config.current",
            "data.terraform_remote_state.remote",
            "module.solution.random_string.prefix"
          ]
        }
      ]
    },
    {
      "module": "module.solution.module.resource_groups[\"networking_vnets_re1\"]",
      "mode": "managed",
      "type": "azurerm_resource_group",
      "name": "rg",
      "provider": "provider[\"registry.terraform.io/hashicorp/azurerm\"]",
      "instances": [
        {
          "schema_version": 0,
          "attributes": {
            "id": "/subscriptions/{{subscription_id}}/resourceGroups/gcci-platform",
            "location": "southeastasia",
            "managed_by": "",
            "name": "gcci-platform",
            "tags": {
              "Application_Classification": "Standard",
              "Data_Classification": "Internal",
              "Name": "{{prefix}} - CAF Terraform Landingzones and solutions",
              "Project_Code": "{{prefix}}",
              "caf_environment": "sandpit",
              "caf_level": "level3",
              "env": "sandpit",
              "project-code": "{{prefix}}",
              "purpose": "hub internet resource group",
              "rover_version": "aztfmod/rover:1.6.0-rc1-2310.0211",
              "tier": "",
              "zone": "internet"
            },
            "timeouts": null
          },
          "sensitive_attributes": [],
          "private": "********************************************************************************************************************************************************************************",
          "dependencies": [
            "data.azurerm_client_config.current",
            "data.terraform_remote_state.remote",
            "module.solution.module.resource_groups.azurecaf_name.rg",
            "module.solution.random_string.prefix"
          ]
        }
      ]
    }
  ]
}
