# Azure resourceGroups
# =================================================
# diagnostics definition
# diagnostics destination
# diagnostic_log_analytics
# =================================================

# import gcci-platform rg, vnet, law into level4 terraform state file
** IMPORTANT: copy /tf/caf/caf_terraform_starter_osscuat_sandpit/landingzone/configuration/level3/shared_services/shared_services.tfstate to level3 blob storage shared_services.tfstate


rover -lz rover -lz /tf/caf/landingzones/caf_solution \
-level level3 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level3/shared_services \
-env {{caf_environment}} \
-skip-permission-check \
-tfstate shared_services.tfstate \
-a plan

rover -lz rover -lz /tf/caf/landingzones/caf_solution \
-level level3 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level3/shared_services \
-env {{caf_environment}} \
-tfstate shared_services.tfstate \
-a apply

rover -lz rover -lz /tf/caf/landingzones/caf_solution \
-level level3 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level3/shared_services \
-env {{caf_environment}} \
-tfstate shared_services.tfstate \
-a destroy
