
rover -lz /tf/caf/landingzones/caf_solution \
-level level4 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level4/project/logic_app \
-env {{caf_environment}} \
-tfstate solution_accelerators_logic_app.tfstate \
-a plan

rover -lz /tf/caf/landingzones/caf_solution \
-level level4 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level4/project/logic_app \
-env {{caf_environment}} \
-tfstate solution_accelerators_logic_app.tfstate \
-a apply

rover -lz /tf/caf/landingzones/caf_solution \
-level level4 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level4/project/logic_app \
-env {{caf_environment}} \
-tfstate solution_accelerators_logic_app.tfstate \
-a destroy

