resource_groups = {
  logic_app_rg_re1 = {
    name = "logic-app-re1"           
    region = "region1"    
    tags = { 
      purpose = "{{zone_code}} acr resource group" 
      project-code = "{{project_code}}" 
      env = "{{caf_environment}}" 
      zone = "{{zone_code}}"
      tier = "{{tier_code}}"          
    }      
  }
}