
rover -lz rover -lz /tf/caf/landingzones/caf_solution \
-level level3 \
-var-folder /tf/caf/gcc_starter/landingzone/configuration/dev_env \
-env {{caf_environment}} \
-tfstate dev_env.tfstate \
-a plan

rover -lz rover -lz /tf/caf/landingzones/caf_solution \
-level level3 \
-var-folder /tf/caf/gcc_starter/landingzone/configuration/dev_env \
-env {{caf_environment}} \
-tfstate dev_env.tfstate \
-a apply

rover -lz rover -lz /tf/caf/landingzones/caf_solution \
-level level3 \
-var-folder /tf/caf/gcc_starter/landingzone/configuration/dev_env \
-env {{caf_environment}} \
-tfstate dev_env.tfstate \
-a destroy
