# apim stv2 or stv2.1 will required a public ip
api_management = {
  integration_apim_re1 = {
    name                 = "{{env_code}}{{dash_1}}{{zone_code}}{{dash_2}}{{tier_code}}{{dash_last}}integration-re1"
    resource_group_key = "apim_rg_re1"
    publisher_name       = "My Company"
    publisher_email      = "company@terraform.io"
    sku_name             = "Developer_1"
    
    identity = {
      type = "UserAssigned"
      managed_identity_keys = ["apim_msi"] # local managed identities

      # # remote managed identities
      # remote = { # Use that block to reference a remote user MSI
      #   "shared_services" = {
      #     managed_identity_keys = [
      #       "apim_internet_msi"
      #     ]
      #   }
      # }
    
    }    
    virtual_network_type = "Internal"
    virtual_network_configuration = {
{% if gcc_platform_import | trim == '0' %}
      subnet_id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{internet_vnet_name}}/subnets/{{prefix}}-snet-it-{{zone_code}}"
{% else %}
      lz_key = "networking_spoke_internet"
      virtual_subnet_key = "it_internet_subnet"
{% endif %} 
      # vnet_key = "vnet_spoke_internet_re1"
      # subnet_key = "it_internet_subnet"
      # lz_key = "networking_spoke_internet"  
      # subnet_id = "/subscriptions/{{subscription_id}}/resourceGroups/gcci-platform/providers/Microsoft.Network/virtualNetworks/gcci-vnet-internet/subnets/esdso-snet-it-internet"
    }

    # # you can setup up to 5 key
    diagnostic_profiles = {
      central_logs_region1 = {
        definition_key   = "apim"
        destination_type = "log_analytics"
        destination_key  = "central_logs"
      }
    }   

    tags = { 
      purpose = "{{tag_zone_code}} apim" 
      # project_code = "{{project_code}}" 
      env = "{{caf_environment}}" 
      zone = "{{tag_zone_code}}"
      tier = "{{tag_tier_code}}"          
    }  
  }
}

