# TODO: 
# 1. enable container insight
# 2 Note: Important ***
# Must grant permission "contributor" to "xxxxx-msi-aks-usermsi" to 
# 1, ignite_rg_aks_re1 resoruce group 
# 2. ignite-snet-app-internet vnet resource

# does not have authorization to perform
#  action 'Microsoft.Network/virtualNetworks/subnets/read' over scope
#  '/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{internet_vnet_name}}/subnets/{{prefix}}-snet-app-internet'

# ignite-rg-aks-nodes-re

# OR
# ignite-rg-aks-nodes-re1 OR
# {{resource_group_name}}

aks_clusters = {
  cluster_re1 = {
    name               = "cluster-re1" 
    resource_group_key = "aks_re1"
    os_type            = "Linux"

    # latest version 4th Aug 2023 - 1.27.3, default 1.26.6   
    kubernetes_version = "1.26.6" 

    # network_policy = {
    #   network_plugin    = "azure"
    #   load_balancer_sku = "Standard"
    # }

    # default aks
    #Pod CIDR -
    #Service CIDR 10.0.0.0/16
    #DNS service IP 10.0.0.10
    #Docker bridge CIDR 172.17.0.1/16

    network_profile = {
      network_plugin     = "azure"
      network_policy     = "azure"
      service_cidr       = "8.0.0.0/16" # to change 10 to 8 or 11
      dns_service_ip     = "8.0.0.10" # to change 10 to 8 or 11
      #  `docker_bridge_cidr` has been deprecated as the API no longer supports it and will be removed in version 4.0 of the provider.
      docker_bridge_cidr = "8.1.0.1/16" # to change 10 to 8 or 11 - wht this value is not taking effect.

      # expected network_profile.0.load_balancer_sku to be one of [basic standard], got Standard
      load_balancer_sku = "standard" # "Standard"      
    }

    # testing - set to false for testing
    # private_cluster_enabled = true
    private_cluster_enabled = true
    enable_rbac             = true
    # userDefinedRouting outbound type, which ensures that any outbound traffic is forced through the firewall and no other egress paths will exist. 
    outbound_type           = "userDefinedRouting" 

    private_cluster_public_fqdn_enabled = true
    load_balancer_profile = {
      # Only one option can be set
      managed_outbound_ip_count = 1
    }

    private_endpoints = {
      pe1 = {
        name = "aks-pe"
        # subnet_id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{internet_vnet_name}}/subnets/cep-snet-app-internet-ev"
        subnet_id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{internet_vnet_name}}/subnets/{{prefix}}-snet-app-internet"

        private_service_connection = {
          name                 = "aks-psc"
          is_manual_connection = false
          subresource_names    = ["management"]
        }

        private_dns = {
          zone_group_name = "aks_re1" # TODO: is this the resource group name?        
          # lz_key = "shared_services" # if DNS keys is deployed in another landingzone
          keys = ["aks_dns_re1"]            
        }
        
      }
    }  

    # private_dns_zone = {
    #   id = "/subscriptions/28133b3c-8536-48d0-9355-60b88bcd06bb/resourceGroups/eysg-rg-shared-services/providers/Microsoft.Network/privateDnsZones/privatelink.southeastasia.azmk8s.io"
    # }      

    # testing - test identity and role based access control
    identity = {
      type                 = "UserAssigned"
      managed_identity_key = "aks_usermsi"
    }

    # identity = {
    #   type = "SystemAssigned"
    # }
    # TODO: add subnet_id
    # vnet_key = "spoke_aks_re1"
    # subnet_id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{internet_vnet_name}}/subnets/cep-snet-app-internet-ev"
    subnet_id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{internet_vnet_name}}/subnets/{{prefix}}-snet-app-internet"



    # TODO: Azure AAD RBAC will required kubelogin for authentication
    # role_based_access_control = {
    #   enabled = true
    #   azure_active_directory = {
    #     managed = true
    #   }
    # }


    # role_based_access_control = {
    #   enabled = true
    #   azure_active_directory = {
    #     managed = true
    #     # admin_group_object_ids = ["7304e4e7-b148-4ada-a135-6049c702d21e"]
    #     admin_groups = {
    #       keys = ["aks_cluster_re1_admins"]
    #     }
    #   }
    # }

    default_node_pool = {
      name    = "sharedsvc" # max length of 12, and only have characters a-z0-9
      vm_size = "Standard_DS2_v2" # "Standard_F4s_v2" # "Standard_DS2_v2"
      subnet = {
        resource_id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{internet_vnet_name}}/subnets/{{prefix}}-snet-app-internet"
      }
      # availability_zones           = ["3"] # ["1","2","3"] # set to 3 AZs for production
      enabled_auto_scaling         = true
      enable_node_public_ip        = false
      max_pods                     = 30
      node_count                   = 1 # set to >= 2 in production
      os_disk_size_gb              = 256
      # when using ingress_application_gateway you need an additional node_pool as agic is a non-critical addon
      only_critical_addons_enabled = false     
      # latest version 4th Aug 2023 - 1.27.3, default 1.26.6                
      orchestrator_version         = "1.26.6" 
      tags = { 
        purpose = "{{project_code}} default node pool" 
        project-code = "{{project_code}}" 
        env = "{{caf_environment}}" 
        zone = "{{zone_code}}"
        tier = "{{tier_code}}"         
      } 
    }

    # aks will create a new resource group to deploy vmss
    node_resource_group_name = "aks-nodes-re1" # resource group "name" string, NOT the "key" where the nodes resources deployed to 
    
    node_pools = {
      pool1 = {
        name                = "npuser01"
        mode                = "User"
        subnet = {
          resource_id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{internet_vnet_name}}/subnets/{{prefix}}-snet-app-internet"
        }   
        # availability_zones           = ["3"] # ["1","2","3"] # set to 3 AZs for production
        max_pods            = 30
        vm_size               = "Standard_DS2_v2" # "Standard_F4s_v2"
        node_count          = 2
        max_pods                     = 30     
        enable_node_public_ip        = false           
        enabled_auto_scaling         = true
        os_disk_size_gb     = 512
        tags = { 
          purpose = "{{project_code}} user node pool" 
        project-code = "{{project_code}}" 
        env = "{{caf_environment}}" 
        zone = "{{zone_code}}"
        tier = "{{tier_code}}"           
        } 
      }
      # pool2 = {
      #   name                = "nodepool2"
      #   mode                = "User"
      #   #subnet_key          = "aks_nodepool_user1"
      #   subnet = {
      #     resource_id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{internet_vnet_name}}/subnets/cep-snet-app-internet-ev"
      #   }        
      #   max_pods            = 30
      # vm_size               = "Standard_F4s_v2"
      #   node_count          = 2
      #   enable_auto_scaling = false
      #   os_disk_size_gb     = 512
      #   tags = {
      #     "project" = "user services"
      #   }
      # }      
    }


    addon_profile = {
      oms_agent = {
        enabled = true
        # TODO: use "log_analytics_workspace_id" if using central log analytics workspace from gcc
        log_analytics_workspace_id = "/subscriptions/{{subscription_id}}/resourceGroups/{{log_analytics_workspace_resource_group_name}}/providers/Microsoft.OperationalInsights/workspaces/{{log_analytics_workspace_name}}",
      }
      azure_policy = {
        enabled = true
      }

      # additional addons
      azure_keyvault_secrets_provider = {
        secret_rotation_enabled  = true
        secret_rotation_interval = "2m"
      }

      storage_profile = {
        blob_driver_enabled = true
      }    

      # TODO: 
      # No AGIC - AGIC as an AKS add-on
      # ingress_application_gateway = {
      #   enabled = true
      #   key     = "agw" 
      # }
    }

    tags = { 
      purpose = "{{zone_code}} aks cluster" 
      project-code = "{{project_code}}" 
      env = "{{caf_environment}}" 
      zone = "{{zone_code}}"
      tier = "{{tier_code}}"          
    } 

    diagnostic_profiles = {
      central_logs_region = {
        definition_key   = "azure_kubernetes_cluster"
        destination_type = "log_analytics"
        destination_key  = "central_logs"
        lz_key = "shared_services" # TODO: is this required?
      }
    }
  }
}