# Azure resourceGroups
# =================================================
# To be execute after vnet and ops shared services are created are created
# =================================================


rover -lz rover -lz /tf/caf/landingzones/caf_solution \
-level level3 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level3/networking_private_dns \
-env {{caf_environment}} \
-skip-permission-check \
-tfstate networking_private_dns.tfstate \
-a plan

rover -lz rover -lz /tf/caf/landingzones/caf_solution \
-level level3 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level3/networking_private_dns \
-env {{caf_environment}} \
-tfstate networking_private_dns.tfstate \
-a apply

rover -lz rover -lz /tf/caf/landingzones/caf_solution \
-level level3 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level3/networking_private_dns \
-env {{caf_environment}} \
-tfstate networking_private_dns.tfstate \
-a destroy
