# By default asp1 will inherit from the resource group location
app_service_plans = {
  fa_asp1 = {
    resource_group_key = "fa_rg_re1"
    name               = "asp-document-processing"
    kind               = "linux" # "functionapp" <<< "linux"
    reserved           = true
    is_xenon                     = false # default is false, do not set to null
    zone_redundant               = false # default is false, do not set to null 



    sku = {
      tier = "Standard" # "ElasticPremium" # "Standard"
      size = "S1" # "EP2" # "S1"
    }

    # # linux premium
    # sku = {
    #   tier = "ElasticPremium"
    #   size = "EP1"
    # }
    # sku = {
    #   tier = "Dynamic"
    #   size = "Y1"
    # }    

  }
}
