resource_groups = {
  container_group_rg = {
    name = "{{env_code}}{{dash_1}}{{zone_code}}{{dash_2}}{{tier_code}}{{dash_last}}container-groups-re1"           
    region = "region1"    
    tags = { 
      purpose = "container groups resource group" 
      project_code = "{{project_code}}" 
      env = "{{caf_environment}}" 
      zone = "{{tag_zone_code}}"
      tier = "{{tag_tier_code}}"          
    }      
  }
}

