role_mapping = {
  built_in_role_mapping = {

    aks_clusters = {
      "cluster_re1" = {
        "Azure Kubernetes Service RBAC Cluster Admin" = {
          logged_in = {         
            keys = ["user"]
          }
        }
      }
    }

    azure_container_registries = {
      aks_acr = {
        "AcrDelete" = {
          managed_identities = {
            # lz_key = "shared_services" # if UserAssigned is deployed in remote landingzone              
            keys = ["aks_usermsi"]
          }
        }
        "AcrPush" = {
          managed_identities = {
            # lz_key = "shared_services" # if UserAssigned is deployed in remote landingzone               
            keys = ["aks_usermsi"]
          }
        }
        "AcrPull" = {
          managed_identities = {
            # lz_key = "shared_services" # if UserAssigned is deployed in remote landingzone               
            keys = ["aks_usermsi"]
          }
        }
      }
    } 

    # mssql_servers = {     #Follow the same way as declaring the service
    #   sql_server = {
    #     lz_key = "mssql"
    #     "SQL Server Contributor" = {
    #       managed_identities = {
    #         keys = ["aks_usermsi"]
    #       }
    #     }
    #   }
    # }

    # storage_accounts = {     #Follow the same way as declaring the service
    #   data_storage = {
    #     lz_key = "level4_services"
    #     "Storage Blob Data Contributor" = {
    #       managed_identities = {
    #         keys = ["aks_usermsi"]
    #       }
    #     }
    #   }
    # } 

    # cosmos_dbs = {     #Follow the same way as declaring the service
    #   cosmos_db = {
    #     lz_key = "shared_services"
    #     "Contributor" = {
    #       managed_identities = {
    #         keys = ["aks_usermsi"]
    #       }
    #     }
    #   }
    # }     

  }
}

