azure_container_registries = {
  acr1 = {
    name               = "{{env_code}}{{dash_1}}{{zone_code}}{{dash_2}}{{tier_code}}{{dash_last}}ci-acr"
    resource_group_key = "acr_rg_re1"
    sku                = "Premium"
    public_network_access_enabled = false

    # in gcc, no georeplications is required 

    private_endpoints = {
      aks_acr_pep = {
        name               = "{{env_code}}{{dash_1}}{{zone_code}}{{dash_2}}{{tier_code}}{{dash_last}}ci-acr-private-link"
        resource_group_key = "acr_rg_re1"
        # internet app subnet
{% if gcc_platform_import | trim == '0' %}
        subnet_id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{internet_vnet_name}}/subnets/{{prefix}}-snet-service-internet"
{% else %}
        lz_key = "networking_spoke_internet"
        virtual_subnet_key = "service_internet_subnet"
{% endif %}   
        private_service_connection = {
          name                 = "{{env_code}}{{dash_1}}{{zone_code}}{{dash_2}}{{tier_code}}{{dash_last}}acr-private-link"
          is_manual_connection = false
          subresource_names    = ["registry"]
        }

        private_dns = {
          zone_group_name = "{{env_code}}{{dash_1}}{{zone_code}}{{dash_2}}{{tier_code}}{{dash_last}}acr_rg_re1" # TODO: is this the resource group name?        
          lz_key          = "networking_spoke_internet" # if DNS keys is deployed in remote landingzone
          keys = ["acr_dns_re1"]            
        }      
      }

      tooling_host_acr_pep = {
        name               = "{{env_code}}{{dash_1}}{{zone_code}}{{dash_2}}{{tier_code}}{{dash_last}}tooling-acr"
        resource_group_key = "acr_rg_re1"
{% if gcc_platform_import | trim == '0' %}
        subnet_id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{management_vnet_name}}/subnets/{{prefix}}-snet-infra-management"
{% else %}
        lz_key = "shared_services"
        vnet_key = "vnet_spoke_internet_re1"   
        subnet_key = "management_infra_subnet"
{% endif %} 

        private_service_connection = {
          name                 = "{{env_code}}{{dash_1}}{{zone_code}}{{dash_2}}{{tier_code}}{{dash_last}}tooling-acr"
          is_manual_connection = false
          subresource_names    = ["registry"]
        }
        private_dns = {
          zone_group_name = "acr_rg_re1"
          lz_key          = "networking_spoke_internet"
          keys            = ["acr_dns_re1"]
        }
      }      
    }  

    # you can setup up to 5 key
    diagnostic_profiles = {
      central_logs_region1 = {
        definition_key   = "azure_container_registry"
        destination_type = "log_analytics"
        destination_key  = "central_logs"
      }
    }

    tags = { 
      purpose = "{{tag_zone_code}} acr" 
      # project_code = "{{project_code}}" 
      env = "{{caf_environment}}" 
      zone = "{{tag_zone_code}}"
      tier = "{{tag_tier_code}}"          
    }   
  }
}
