diagnostic_storage_accounts = {

  ezhub_central_nsg_flow_logs_sa_re1 = {
    name                     = "diaglogsre1ezhub"
    region                   = "region1"
    resource_group_key       = "networking_hub_internet_re1"
    account_kind             = "StorageV2"
    account_tier             = "Standard"
    account_replication_type = "LRS"
    access_tier              = "Hot"
    
    tags = { 
      purpose = "hub internet diagnostic_storage_accounts" 
      project-code = "{{project_code}}" 
      env = "{{caf_environment}}" 
      zone = "{{zone_code}}"
      tier = "{{tier_code}}"         
    }       
  }
}

## destinations definition
diagnostics_destinations = {
  storage = {
    all_regions = {
      southeastasia = {
        storage_account_key = "ezhub_central_nsg_flow_logs_sa_re1"
      }
    }
  }
  # Storage keys must reference the azure region name
  log_analytics = {  # <- this is destination type
    central_logs = { # <- this is destination key
      log_analytics_key = "central_logs_region1"
      log_analytics_destination_type = "Dedicated"
    }
  }    
}