landingzone = {
  backend_type        = "azurerm"
  global_settings_key = "shared_services"
  level               = "level3"
  key                 = "vnet_peering"
  tfstates = {
    launchpad = {
      level   = "lower"
      tfstate = "level0_launchpad.tfstate"
    }
    shared_services = {
      level   = "current"
      tfstate = "shared_services.tfstate" # set to referenced landingzone tfstate name      
    }     
    networking_spoke_devops = {
      level   = "current"
      tfstate = "networking_spoke_devops.tfstate" # set to referenced landingzone tfstate name      
    } 
    networking_hub_internet = {
      level   = "current"
      tfstate = "networking_hub_internet.tfstate" # set to referenced landingzone tfstate name      
    }   
    networking_spoke_internet = {
      level   = "current"
      tfstate = "networking_spoke_internet.tfstate" # set to referenced landingzone tfstate name      
    }    
    networking_spoke_management = {
      level   = "current"
      tfstate = "networking_spoke_management.tfstate" # set to referenced landingzone tfstate name      
    }        
  }
}