vnet_peerings = {

{% if ingress_egress_vnet_name_ingress_internet | trim != 'None' %}
  #----------------------------
  # ingress and egress internet
  #----------------------------
  # ingress vnet to internet vnet
  vnet_internet_re1_TO_vnet_hub_internet_ingress_re1 = {
    name = "vnet_internet_re1_TO_vnet_hub_internet_ingress_re1"
    from = {
      {% if gcc_platform | trim != '1' %}
      vnet_key = "vnet_spoke_internet_re1"
      lz_key = "networking_spoke_internet"           
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{internet_vnet_name}}"
      {% endif %}     
    }
    to = {
      output_key = "vnets"
      {% if gcc_platform | trim != '1' %}
      lz_key     = "networking_hub_internet"
      vnet_key   = "vnet_hub_internet_ingress_re1"
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{ingress_egress_vnet_name_ingress_internet}}"
      {% endif %}    
    }
    allow_virtual_network_access = true
    allow_forwarded_traffic      = false
    allow_gateway_transit        = false
    use_remote_gateways          = false
  }

  vnet_hub_internet_ingress_re1_TO_vnet_internet_re1 = {
    name = "vnet_hub_internet_ingress_re1_TO_vnet_internet_re1"
    from = {
      output_key = "vnets"
      {% if gcc_platform | trim != '1' %}
      lz_key = "networking_hub_internet"
      vnet_key = "vnet_hub_internet_ingress_re1"
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{ingress_egress_vnet_name_ingress_internet}}"
      {% endif %}    

    }
    to = {
      {% if gcc_platform | trim != '1' %}
      vnet_key = "vnet_spoke_internet_re1"
      lz_key = "networking_spoke_internet"           
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{internet_vnet_name}}"
      {% endif %}     
    }
    allow_virtual_network_access = true
    allow_forwarded_traffic      = true
    allow_gateway_transit        = true
    use_remote_gateways          = false
  }

  # ingress vnet to internet vnet
  vnet_internet_re1_TO_vnet_hub_internet_egress_re1 = {
    name = "vnet_internet_re1_TO_vnet_hub_internet_egress_re1"
    from = {
      {% if gcc_platform | trim != '1' %}
      vnet_key = "vnet_spoke_internet_re1"
      lz_key = "networking_spoke_internet"           
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{internet_vnet_name}}"
      {% endif %}     
    }
    to = {
      output_key = "vnets"
      {% if gcc_platform | trim != '1' %}
      lz_key     = "networking_hub_internet"
      vnet_key   = "vnet_hub_internet_egress_re1"
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{ingress_egress_vnet_name_ingress_internet}}"
      {% endif %}    
    }
    allow_virtual_network_access = true
    allow_forwarded_traffic      = false
    allow_gateway_transit        = false
    use_remote_gateways          = false
  }

  vnet_hub_internet_egress_re1_TO_vnet_internet_re1 = {
    name = "vnet_hub_internet_egress_re1_TO_vnet_internet_re1"
    from = {
      output_key = "vnets"
      {% if gcc_platform | trim != '1' %}
      lz_key = "networking_hub_internet"
      vnet_key = "vnet_hub_internet_egress_re1"
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{ingress_egress_vnet_name_ingress_internet}}"
      {% endif %}    

    }
    to = {
      {% if gcc_platform | trim != '1' %}
      vnet_key = "vnet_spoke_internet_re1"
      lz_key = "networking_spoke_internet"           
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{internet_vnet_name}}"
      {% endif %}     
    }
    allow_virtual_network_access = true
    allow_forwarded_traffic      = true
    allow_gateway_transit        = true
    use_remote_gateways          = false
  }


  # ingress vnet to management vnet
  vnet_hub_management_re1_TO_vnet_hub_internet_ingress_re1 = {
    name = "vnet_hub_management_re1_TO_vnet_hub_internet_ingress_re1"
    from = {
      {% if gcc_platform | trim != '1' %}
      lz_key     = "networking_spoke_management"         
      vnet_key = "vnet_hub_management_re1"
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{management_vnet_name}}"
      {% endif %}    
    }
    to = {
      output_key = "vnets"
      {% if gcc_platform | trim != '1' %}
      lz_key     = "networking_hub_internet"
      vnet_key   = "vnet_hub_internet_ingress_re1"
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{ingress_egress_vnet_name_ingress_internet}}"
      {% endif %}    
    }
    allow_virtual_network_access = true
    allow_forwarded_traffic      = false
    allow_gateway_transit        = false
    use_remote_gateways          = false
  }

  vnet_hub_internet_ingress_re1_TO_vnet_hub_management_re1 = {
    name = "vnet_hub_internet_ingress_re1_TO_vnet_management_re1"
    from = {
      output_key = "vnets"
      {% if gcc_platform | trim != '1' %}
      lz_key     = "networking_hub_internet"
      vnet_key   = "vnet_hub_internet_ingress_re1"
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{ingress_egress_vnet_name_ingress_internet}}"
      {% endif %}    
    }
    to = {
      {% if gcc_platform | trim != '1' %}
      lz_key     = "networking_spoke_management"      
      vnet_key = "vnet_hub_management_re1"
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{management_vnet_name}}"
      {% endif %}    
    }
    allow_virtual_network_access = true
    allow_forwarded_traffic      = true
    allow_gateway_transit        = true
    use_remote_gateways          = false
  }


  # egress vnet to management vnet
  vnet_hub_management_re1_TO_vnet_hub_internet_egress_re1 = {
    name = "vnet_hub_management_re1_TO_vnet_hub_internet_egress_re1"
    from = {
      {% if gcc_platform | trim != '1' %}
      lz_key     = "networking_spoke_management"         
      vnet_key = "vnet_hub_management_re1"
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{management_vnet_name}}"
      {% endif %}    
    }
    to = {
      output_key = "vnets"
      {% if gcc_platform | trim != '1' %}
      lz_key     = "networking_hub_internet"
      vnet_key   = "vnet_hub_internet_egress_re1"
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{ingress_egress_vnet_name_ingress_internet}}"
      {% endif %}    
    }
    allow_virtual_network_access = true
    allow_forwarded_traffic      = false
    allow_gateway_transit        = false
    use_remote_gateways          = false
  }

  vnet_hub_internet_egress_re1_TO_vnet_hub_management_re1 = {
    name = "vnet_hub_internet_egress_re1_TO_vnet_management_re1"
    from = {
      output_key = "vnets"
      {% if gcc_platform | trim != '1' %}
      lz_key     = "networking_hub_internet"
      vnet_key   = "vnet_hub_internet_egress_re1"
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{ingress_egress_vnet_name_ingress_internet}}"
      {% endif %}    
    }
    to = {
      {% if gcc_platform | trim != '1' %}
      lz_key     = "networking_spoke_management"      
      vnet_key = "vnet_hub_management_re1"
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{management_vnet_name}}"
      {% endif %}    
    }
    allow_virtual_network_access = true
    allow_forwarded_traffic      = true
    allow_gateway_transit        = true
    use_remote_gateways          = false
  }

{% endif %}    


  # internet vnet to management vnet
  vnet_hub_management_re1_TO_vnet_internet_re1 = {
    name = "vnet_hub_management_re1_TO_vnet_internet_re1"
    from = {
      {% if gcc_platform | trim != '1' %}
      lz_key     = "networking_spoke_management"          
      vnet_key = "vnet_hub_management_re1"
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{management_vnet_name}}"
      {% endif %}    
    }
    to = {
      output_key = "vnets"
      {% if gcc_platform | trim != '1' %}
      lz_key     = "networking_spoke_internet"
      vnet_key   = "vnet_spoke_internet_re1"
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{internet_vnet_name}}"
      {% endif %}          
    }
    allow_virtual_network_access = true
    allow_forwarded_traffic      = false
    allow_gateway_transit        = false
    use_remote_gateways          = false
  }

  vnet_internet_re1_TO_vnet_hub_management_re1 = {
    name = "vnet_internet_re1_TO_vnet_hub_management_re1"
    from = {
      output_key = "vnets"
      {% if gcc_platform | trim != '1' %}
      lz_key     = "networking_spoke_internet"
      vnet_key   = "vnet_spoke_internet_re1"
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{internet_vnet_name}}"
      {% endif %}    
    }
    to = {
      {% if gcc_platform | trim != '1' %}
      lz_key     = "networking_spoke_management"          
      vnet_key = "vnet_hub_management_re1"
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{management_vnet_name}}"
      {% endif %}    
    }
    allow_virtual_network_access = true
    allow_forwarded_traffic      = true
    allow_gateway_transit        = true
    use_remote_gateways          = false
  }

  # devops vnet to management vnet
  vnet_hub_management_re1_TO_vnet_spoke_devops_re1 = {
    name = "vnet_hub_management_re1_TO_vnet_spoke_devops_re1"
    from = {
      {% if gcc_platform | trim != '1' %}
      lz_key     = "networking_spoke_management"          
      vnet_key = "vnet_hub_management_re1"
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{management_vnet_name}}"
      {% endif %}    
    }
    to = {
      output_key = "vnets"
      {% if gcc_platform | trim != '1' %}
      lz_key     = "networking_spoke_devops"    
      vnet_key   = "vnet_spoke_devops_re1"
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{devops_vnet_name}}"
      {% endif %}    
    }
    allow_virtual_network_access = true
    allow_forwarded_traffic      = false
    allow_gateway_transit        = false
    use_remote_gateways          = false
  }

  vnet_spoke_devops_re1_TO_vnet_hub_management_re1 = {
    name = "vnet_spoke_devops_re1_TO_vnet_hub_management_re1"
    from = {
      output_key = "vnets"
      {% if gcc_platform | trim != '1' %}
      lz_key     = "networking_spoke_devops"    
      vnet_key   = "vnet_spoke_devops_re1"
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{devops_vnet_name}}"
      {% endif %}    
    }
    to = {
      {% if gcc_platform | trim != '1' %}
      lz_key     = "networking_spoke_management"          
      vnet_key = "vnet_hub_management_re1"
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{management_vnet_name}}"
      {% endif %}    
    }
    allow_virtual_network_access = true
    allow_forwarded_traffic      = true
    allow_gateway_transit        = true
    use_remote_gateways          = false
  }  


  # internet vnet to devops vnet
  vnet_spoke_devops_re1_TO_vnet_internet_re1 = {
    name = "vnet_spoke_devops_re1_TO_vnet_internet_re1"
    from = {
      {% if gcc_platform | trim != '1' %}
      lz_key     = "networking_spoke_devops"          
      vnet_key = "vnet_spoke_devops_re1"
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{devops_vnet_name}}"
      {% endif %}    
    }
    to = {
      output_key = "vnets"
      {% if gcc_platform | trim != '1' %}
      lz_key     = "networking_spoke_internet"
      vnet_key   = "vnet_spoke_internet_re1"
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{internet_vnet_name}}"
      {% endif %}    
    }
    allow_virtual_network_access = true
    allow_forwarded_traffic      = false
    allow_gateway_transit        = false
    use_remote_gateways          = false
  }

  vnet_internet_re1_TO_vnet_spoke_devops_re1 = {
    name = "vnet_internet_re1_TO_vnet_spoke_devops_re1"
    from = {
      output_key = "vnets"
      {% if gcc_platform | trim != '1' %}
      lz_key     = "networking_spoke_internet"
      vnet_key   = "vnet_spoke_internet_re1"
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{internet_vnet_name}}"
      {% endif %}    
    }
    to = {
      {% if gcc_platform | trim != '1' %}
      lz_key     = "networking_spoke_devops"      
      vnet_key = "vnet_spoke_devops_re1"
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{devops_vnet_name}}"
      {% endif %}    
    }
    allow_virtual_network_access = true
    allow_forwarded_traffic      = true
    allow_gateway_transit        = true
    use_remote_gateways          = false
  }


{% if ingress_egress_vnet_name_ingress_intranet | trim != 'None' %}
  #----------------------------
  # ingress and egress intranet
  #----------------------------
  # ingress vnet to project internet vnet
  vnet_internet_re1_TO_vnet_hub_intranet_ingress_re1 = {
    name = "vnet_internet_re1_TO_vnet_hub_intranet_ingress_re1"
    from = {
      {% if gcc_platform | trim != '1' %}
      vnet_key = "vnet_spoke_internet_re1"
      lz_key = "networking_spoke_internet"           
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{internet_vnet_name}}"
      {% endif %}     
    }
    to = {
      output_key = "vnets"
      {% if gcc_platform | trim != '1' %}
      lz_key     = "networking_hub_intranet"
      vnet_key   = "vnet_hub_intranet_ingress_re1"
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{ingress_egress_vnet_name_ingress_intranet}}"
      {% endif %}    
    }
    allow_virtual_network_access = true
    allow_forwarded_traffic      = false
    allow_gateway_transit        = false
    use_remote_gateways          = false
  }

  vnet_hub_intranet_ingress_re1_TO_vnet_internet_re1 = {
    name = "vnet_hub_intranet_ingress_re1_TO_vnet_internet_re1"
    from = {
      output_key = "vnets"
      {% if gcc_platform | trim != '1' %}
      lz_key = "networking_hub_intranet"
      vnet_key = "vnet_hub_intranet_ingress_re1"
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{ingress_egress_vnet_name_ingress_intranet}}"
      {% endif %}    

    }
    to = {
      {% if gcc_platform | trim != '1' %}
      vnet_key = "vnet_spoke_internet_re1"
      lz_key = "networking_spoke_internet"           
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{internet_vnet_name}}"
      {% endif %}     
    }
    allow_virtual_network_access = true
    allow_forwarded_traffic      = true
    allow_gateway_transit        = true
    use_remote_gateways          = false
  }

  # ingress vnet to management vnet
  vnet_hub_management_re1_TO_vnet_hub_intranet_ingress_re1 = {
    name = "vnet_hub_management_re1_TO_vnet_hub_intranet_ingress_re1"
    from = {
      {% if gcc_platform | trim != '1' %}
      lz_key     = "networking_spoke_management"         
      vnet_key = "vnet_hub_management_re1"
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{management_vnet_name}}"
      {% endif %}    
    }
    to = {
      output_key = "vnets"
      {% if gcc_platform | trim != '1' %}
      lz_key     = "networking_hub_intranet"
      vnet_key   = "vnet_hub_intranet_ingress_re1"
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{ingress_egress_vnet_name_ingress_intranet}}"
      {% endif %}    
    }
    allow_virtual_network_access = true
    allow_forwarded_traffic      = false
    allow_gateway_transit        = false
    use_remote_gateways          = false
  }

  vnet_hub_intranet_ingress_re1_TO_vnet_hub_management_re1 = {
    name = "vnet_hub_intranet_ingress_re1_TO_vnet_management_re1"
    from = {
      output_key = "vnets"
      {% if gcc_platform | trim != '1' %}
      lz_key     = "networking_hub_intranet"
      vnet_key   = "vnet_hub_intranet_ingress_re1"
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{ingress_egress_vnet_name_ingress_intranet}}"
      {% endif %}    
    }
    to = {
      {% if gcc_platform | trim != '1' %}
      lz_key     = "networking_spoke_management"      
      vnet_key = "vnet_hub_management_re1"
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{management_vnet_name}}"
      {% endif %}    
    }
    allow_virtual_network_access = true
    allow_forwarded_traffic      = true
    allow_gateway_transit        = true
    use_remote_gateways          = false
  }

  #------------------
  # egress intranet
  #------------------  
  # egress vnet to internet vnet
  vnet_internet_re1_TO_vnet_hub_intranet_egress_re1 = {
    name = "vnet_internet_re1_TO_vnet_hub_intranet_egress_re1"
    from = {
      {% if gcc_platform | trim != '1' %}
      vnet_key = "vnet_spoke_internet_re1"
      lz_key = "networking_spoke_internet"           
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{internet_vnet_name}}"
      {% endif %}     
    }
    to = {
      output_key = "vnets"
      {% if gcc_platform | trim != '1' %}
      lz_key     = "networking_hub_internet"
      vnet_key   = "vnet_hub_intranet_egress_re1"
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{ingress_egress_vnet_name_ingress_internet}}"
      {% endif %}    
    }
    allow_virtual_network_access = true
    allow_forwarded_traffic      = false
    allow_gateway_transit        = false
    use_remote_gateways          = false
  }

  vnet_hub_intranet_egress_re1_TO_vnet_internet_re1 = {
    name = "vnet_hub_intranet_egress_re1_TO_vnet_internet_re1"
    from = {
      output_key = "vnets"
      {% if gcc_platform | trim != '1' %}
      lz_key = "networking_hub_internet"
      vnet_key = "vnet_hub_intranet_egress_re1"
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{ingress_egress_vnet_name_ingress_internet}}"
      {% endif %}    

    }
    to = {
      {% if gcc_platform | trim != '1' %}
      vnet_key = "vnet_spoke_internet_re1"
      lz_key = "networking_spoke_internet"           
      {% else %}
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{internet_vnet_name}}"
      {% endif %}     
    }
    allow_virtual_network_access = true
    allow_forwarded_traffic      = true
    allow_gateway_transit        = true
    use_remote_gateways          = false
  }

{% endif %}    


  # # intranet vnet to management vnet
  # vnet_hub_management_re1_TO_vnet_intranet_re1 = {
  #   name = "vnet_hub_management_re1_TO_vnet_intranet_re1"
  #   from = {
  #     vnet_key = "vnet_hub_management_re1"
  #   }
  #   to = {
  #     lz_key     = "dev_env"
  #     output_key = "vnets"
  #     vnet_key   = "vnet_spoke_intranet_re1"
  #   }
  #   allow_virtual_network_access = true
  #   allow_forwarded_traffic      = false
  #   allow_gateway_transit        = false
  #   use_remote_gateways          = false
  # }

  # vnet_intranet_re1_TO_vnet_hub_management_re1 = {
  #   name = "vnet_intranet_re1_TO_vnet_hub_management_re1"
  #   from = {
  #     lz_key     = "dev_env"
  #     output_key = "vnets"
  #     vnet_key   = "vnet_spoke_intranet_re1"
  #   }
  #   to = {
  #     vnet_key = "vnet_hub_management_re1"
  #   }
  #   allow_virtual_network_access = true
  #   allow_forwarded_traffic      = true
  #   allow_gateway_transit        = true
  #   use_remote_gateways          = false
  # }

  # # intranet vnet to devops vnet
  # vnet_spoke_devops_re1_TO_vnet_intranet_re1 = {
  #   name = "vnet_spoke_devops_re1_TO_vnet_intranet_re1"
  #   from = {
  #     vnet_key = "vnet_spoke_devops_re1"
  #   }
  #   to = {
  #     lz_key     = "dev_env"
  #     output_key = "vnets"
  #     vnet_key   = "vnet_spoke_intranet_re1"
  #   }
  #   allow_virtual_network_access = true
  #   allow_forwarded_traffic      = false
  #   allow_gateway_transit        = false
  #   use_remote_gateways          = false
  # }

  # vnet_intranet_re1_TO_vnet_spoke_devops_re1 = {
  #   name = "vnet_intranet_re1_TO_vnet_spoke_devops_re1"
  #   from = {
  #     lz_key     = "dev_env"
  #     output_key = "vnets"
  #     vnet_key   = "vnet_spoke_intranet_re1"
  #   }
  #   to = {
  #     vnet_key = "vnet_spoke_devops_re1"
  #   }
  #   allow_virtual_network_access = true
  #   allow_forwarded_traffic      = true
  #   allow_gateway_transit        = true
  #   use_remote_gateways          = false
  # }  


  # # intranet vnet to internet vnet
  # vnet_internet_re1_TO_vnet_intranet_re1 = {
  #   name = "vnet_internet_re1_TO_vnet_intranet_re1"
  #   from = {
  #     vnet_key = "vnet_spoke_internet_re1"
  #   }
  #   to = {
  #     lz_key     = "dev_env"
  #     output_key = "vnets"
  #     vnet_key   = "vnet_spoke_intranet_re1"
  #   }
  #   allow_virtual_network_access = true
  #   allow_forwarded_traffic      = false
  #   allow_gateway_transit        = false
  #   use_remote_gateways          = false
  # }

  # vnet_intranet_re1_TO_vnet_internet_re1 = {
  #   name = "vnet_intranet_re1_TO_vnet_internet_re1"
  #   from = {
  #     lz_key     = "dev_env"
  #     output_key = "vnets"
  #     vnet_key   = "vnet_spoke_intranet_re1"
  #   }
  #   to = {
  #     vnet_key = "vnet_spoke_internet_re1"
  #   }
  #   allow_virtual_network_access = true
  #   allow_forwarded_traffic      = true
  #   allow_gateway_transit        = true
  #   use_remote_gateways          = false
  # }    

}