#
# do not change
#

# 1. launchpad
/tf/rover/rover.sh -lz /tf/caf/landingzones/caf_launchpad \
  -launchpad \
  -var-folder /tf/caf/gcc_starter/landingzone/configuration/level0/launchpad \
  -env {{caf_environment}} \
  -a plan

/tf/rover/rover.sh -lz /tf/caf/landingzones/caf_launchpad \
  -launchpad \
  -var-folder /tf/caf/gcc_starter/landingzone/configuration/level0/launchpad \
  -env {{caf_environment}} \
  -a apply

# DO NOT execute this in GCC
# 2. development environment - (optional) - applicable for your own test environment in Azure Commercial Cloud
#    simulating the creation five vnet(s) and one log analytive workspace from GovTech GCC during onboarding
# /tf/rover/rover.sh -lz /tf/caf/landingzones/caf_solution \
# -level level3 \
# -var-folder /tf/caf/gcc_starter/landingzone/configuration/dev_env \
# -env {{caf_environment}} \
# -tfstate dev_env.tfstate \
# -a apply

# 3. shared services - diagnostics definition
/tf/rover/rover.sh -lz /tf/caf/landingzones/caf_solution \
-level level3 \
-var-folder /tf/caf/gcc_starter/landingzone/configuration/level3/shared_services \
-env {{caf_environment}} \
-tfstate shared_services.tfstate \
-a plan

/tf/rover/rover.sh -lz /tf/caf/landingzones/caf_solution \
-level level3 \
-var-folder /tf/caf/gcc_starter/landingzone/configuration/level3/shared_services \
-env {{caf_environment}} \
-tfstate shared_services.tfstate \
-a apply

# 4. networking hub - ingress firewall
/tf/rover/rover.sh -lz /tf/caf/landingzones/caf_solution \
-level level3 \
-var-folder /tf/caf/gcc_starter/landingzone/configuration/level3/networking_hub_ingress \
-env {{caf_environment}} \
-tfstate networking_hub_ingress.tfstate \
-a plan

/tf/rover/rover.sh -lz /tf/caf/landingzones/caf_solution \
-level level3 \
-var-folder /tf/caf/gcc_starter/landingzone/configuration/level3/networking_hub_ingress \
-env {{caf_environment}} \
-tfstate networking_hub_ingress.tfstate \
-a apply

# 5. networking spoke - subnets, nsg - internet, intranet, management and devops zone
/tf/rover/rover.sh -lz /tf/caf/landingzones/caf_solution \
-level level3 \
-var-folder /tf/caf/gcc_starter/landingzone/configuration/level3/networking_spoke_internet \
-env {{caf_environment}} \
-tfstate networking_spoke_internet.tfstate \
-a plan

/tf/rover/rover.sh -lz /tf/caf/landingzones/caf_solution \
-level level3 \
-var-folder /tf/caf/gcc_starter/landingzone/configuration/level3/networking_spoke_internet \
-env {{caf_environment}} \
-tfstate networking_spoke_internet.tfstate \
-a apply

/tf/rover/rover.sh -lz /tf/caf/landingzones/caf_solution \
-level level3 \
-var-folder /tf/caf/gcc_starter/landingzone/configuration/level3/networking_spoke_intranet \
-env {{caf_environment}} \
-tfstate networking_spoke_intranet.tfstate \
-a plan

/tf/rover/rover.sh -lz /tf/caf/landingzones/caf_solution \
-level level3 \
-var-folder /tf/caf/gcc_starter/landingzone/configuration/level3/networking_spoke_intranet \
-env {{caf_environment}} \
-tfstate networking_spoke_intranet.tfstate \
-a apply

/tf/rover/rover.sh -lz /tf/caf/landingzones/caf_solution \
-level level3 \
-var-folder /tf/caf/gcc_starter/landingzone/configuration/level3/networking_spoke_management \
-env {{caf_environment}} \
-tfstate networking_spoke_management.tfstate \
-a plan

/tf/rover/rover.sh -lz /tf/caf/landingzones/caf_solution \
-level level3 \
-var-folder /tf/caf/gcc_starter/landingzone/configuration/level3/networking_spoke_management \
-env {{caf_environment}} \
-tfstate networking_spoke_management.tfstate \
-a apply

/tf/rover/rover.sh -lz /tf/caf/landingzones/caf_solution \
-level level3 \
-var-folder /tf/caf/gcc_starter/landingzone/configuration/level3/networking_spoke_devops \
-env {{caf_environment}} \
-tfstate networking_spoke_devops.tfstate \
-a plan

/tf/rover/rover.sh -lz /tf/caf/landingzones/caf_solution \
-level level3 \
-var-folder /tf/caf/gcc_starter/landingzone/configuration/level3/networking_spoke_devops \
-env {{caf_environment}} \
-tfstate networking_spoke_devops.tfstate \
-a apply

# 6. solution accelerators

# internet zone 


# devops zone

{% if internet_app_acr | trim == '1' %}
/tf/rover/rover.sh -lz /tf/caf/landingzones/caf_solution \
-level level4 \
-var-folder /tf/caf/gcc_starter/landingzone/configuration/level4/devops/acr \
-env {{caf_environment}} \
-tfstate solution_accelerators_acr.tfstate \
-a apply
{% endif %}

{% if devops_vm_runner | trim == '1' %}
/tf/rover/rover.sh -lz /tf/caf/landingzones/caf_solution \
-level level4 \
-var-folder /tf/caf/gcc_starter/landingzone/configuration/level4/devops/vm_linux_runner \
-env {{caf_environment}} \
-tfstate solution_accelerators_vm_linux_runner.tfstate \
-a apply
{% endif %}

# management zone

{% if management_bastion | trim == '1' %}
/tf/rover/rover.sh -lz /tf/caf/landingzones/caf_solution \
-level level4 \
-var-folder /tf/caf/gcc_starter/landingzone/configuration/level4/management/bastion \
-env {{caf_environment}} \
-tfstate solution_accelerators_bastion.tfstate \
-a apply
{% endif %}



