
#!/bin/bash
# Define a timestamp function
timestamp() {
  date +"%T" # current time
}

echo "-----------------------------------------------------------------------------"  
echo "begin deployment"  
timestamp
echo "-----------------------------------------------------------------------------"  
echo " "  
echo " "  
# -------------------------------------------------------------------------------------------------------------
# level 1 - launchpad   
# ------------------------------------------------------------------------------------------------------------- 
# start launchpad - all
echo "-----------------------------------------------------------------------------"  
echo "start caf_launchpad"
timestamp
echo "-----------------------------------------------------------------------------"  
echo " "  
/tf/rover/rover.sh -lz /tf/caf/landingzones/caf_launchpad \
-launchpad \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level0/launchpad \
-skip-permission-check \
-env {{caf_environment}} \
-a apply
RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo success
  echo "-----------------------------------------------------------------------------"   
  timestamp 
  echo "end caf_launchpad"
  echo "-----------------------------------------------------------------------------"    
  echo " "    
fi
# end launchpad - all
{% if gcc_platform_import | trim == '1' %}


# -------------------------------------------------------------------------------------------------------------
# level 3 - shared services and networking   
# ------------------------------------------------------------------------------------------------------------- 

echo "-----------------------------------------------------------------------------"  
echo "start import terraform state for gcci-platform resources"
echo "-----------------------------------------------------------------------------"  
# * random code must set to 0, else add the random code below to the account-name
# * execute the below steps if import terraform state set to "1"
# ** IMPORTANT:
# Upload caf terraform state file to level3 storage account: {{prefix}}-rg-launchpad-level3
# /tf/caf/{{gcc_starter_project_folder}}_{{prefix}}_{{caf_environment}}/landingzone/configuration/level3/shared_services/networking_vnets.tfstate

az storage blob upload \
--account-name "{{prefix}}stlevel3" \
--container-name "tfstate" \
--name shared_services.tfstate \
--file "/tf/caf/{{gcc_starter_project_folder}}_{{prefix}}_{{caf_environment}}/landingzone/configuration/level3/shared_services/shared_services.tfstate" \
--auth-mode login

echo "-----------------------------------------------------------------------------"   
timestamp 
echo "end import terraform state"
echo "-----------------------------------------------------------------------------"   
{% endif %}
{% if gcc_platform_import | trim == '2' %}


# -------------------------------------------------------------------------------------------------------------
# level 3 - shared services and networking   
# ------------------------------------------------------------------------------------------------------------- 
# start shared_services - all
echo "-----------------------------------------------------------------------------"  
echo "start shared_services"
timestamp
echo "-----------------------------------------------------------------------------"  
echo " "  
/tf/rover/rover.sh -lz  /tf/caf/landingzones/caf_solution \
-level level3 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level3/shared_services \
-env {{caf_environment}} \
-tfstate shared_services.tfstate \
-a apply
RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo success
  echo "-----------------------------------------------------------------------------"   
  timestamp 
  echo "end shared_services"
  echo "-----------------------------------------------------------------------------"    
  echo " "    
fi
# end shared_services - all
{% endif %}
{% if gcc_platform_import | trim == '2' %}
{% if ingress_egress_vnet_name_ingress_internet | trim != 'None' or ingress_egress_vnet_name_egress_internet | trim != 'None' %}
# IMPORTANT - OPTIONAL - manually replace osscuat-rg-gcci-platform-xxx if you are using random code
echo "^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^"  
echo "IMPORTANT - manually replace osscuat-rg-gcci-platform-xxx if you are using random code"
echo "^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^"  
echo "-----------------------------------------------------------------------------"  
echo "start replace firewall resoruce group name - if you are using random code"
timestamp
echo "-----------------------------------------------------------------------------"  
# get random code
rg=$(az group list --query "[?contains(name,'{{prefix}}-rg-gcci-platform-')].name"  --output tsv)
echo $rg
lastthreecharacters=${rg%???}
random_code=${rg#"$lastthreecharacters"}
echo $random_code
if [[ $random_code != "" ]]; then
# Assign the filename
filename1="/tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level3/egress_internet/firewall/firewalls.tfvars"
filename2="/tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level3/egress_intranet/firewall/firewalls.tfvars"
filename3="/tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level3/ingress_internet/firewall/firewalls.tfvars"
# filename4="/tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level3/ingress_intranet/firewall/firewalls.tfvars"
# assign the search and replace variables - set the xxx to the random code
search="\"{{prefix}}-rg-{{resource_group_name}}\""
replace="\"{{prefix}}-rg-{{resource_group_name}}-$random_code\""
# perform replace
if [[ $search != "" && $replace != "" ]]; then
  sed -i "s/$search/$replace/" $filename1
  sed -i "s/$search/$replace/" $filename2
  sed -i "s/$search/$replace/" $filename3
  # sed -i "s/$search/$replace/" $filename4
fi
fi
echo "-----------------------------------------------------------------------------"  
echo "end replace firewall resoruce group name - if you are using random code"
timestamp
echo "-----------------------------------------------------------------------------" 
{% endif %}
{% endif %}
{% if management_vnet_name | trim != 'None' %}

echo "-----------------------------------------------------------------------------"  
echo "start networking_spoke_management"
timestamp
echo "-----------------------------------------------------------------------------"  
echo " "  
/tf/rover/rover.sh -lz /tf/caf/landingzones/caf_solution \
-level level3 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level3/networking_spoke_management \
-env {{caf_environment}} \
-tfstate networking_spoke_management.tfstate \
-a apply
RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo success
  echo "-----------------------------------------------------------------------------"   
  timestamp 
  echo "end networking_spoke_management"
  echo "-----------------------------------------------------------------------------"    
  echo " "    
fi
{% endif %}
{% if devops_vnet_name | trim != 'None' %}

echo "-----------------------------------------------------------------------------"  
echo "start networking_spoke_devops"
timestamp
echo "-----------------------------------------------------------------------------"  
echo " "  
/tf/rover/rover.sh -lz /tf/caf/landingzones/caf_solution \
-level level3 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level3/networking_spoke_devops \
-env {{caf_environment}} \
-tfstate networking_spoke_devops.tfstate \
-a apply
RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo success
  echo "-----------------------------------------------------------------------------"   
  timestamp 
  echo "end networking_spoke_devops"
  echo "-----------------------------------------------------------------------------"    
  echo " "    
fi
{% endif %}
{% if ingress_egress_vnet_name_ingress_internet | trim != 'None' or ingress_egress_vnet_name_egress_internet | trim != 'None' %}

echo "-----------------------------------------------------------------------------"  
echo "start networking_hub_internet"
timestamp
echo "-----------------------------------------------------------------------------"  
echo " "  
/tf/rover/rover.sh -lz /tf/caf/landingzones/caf_solution \
-level level3 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level3/networking_hub_internet \
-env {{caf_environment}} \
-tfstate networking_hub_internet.tfstate \
-a apply
RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo success
  echo "-----------------------------------------------------------------------------"   
  timestamp 
  echo "end networking_hub_internet"
  echo "-----------------------------------------------------------------------------"    
  echo " "    
fi
{% endif %}
{% if ingress_egress_vnet_name_ingress_intranet | trim != 'None' or ingress_egress_vnet_name_egress_intranet | trim != 'None' %}

echo "-----------------------------------------------------------------------------"  
echo "start networking_hub_intranet"
timestamp
echo "-----------------------------------------------------------------------------"  
echo " "  
/tf/rover/rover.sh -lz /tf/caf/landingzones/caf_solution \
-level level3 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level3/networking_hub_intranet \
-env {{caf_environment}} \
-tfstate networking_hub_intranet.tfstate \
-a apply
RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo success
  echo "-----------------------------------------------------------------------------"   
  timestamp 
  echo "end networking_hub_intranet"
  echo "-----------------------------------------------------------------------------"    
  echo " "    
fi
{% endif %}
{% if internet_vnet_name | trim != 'None' %}

echo "-----------------------------------------------------------------------------"  
echo "start networking_spoke_internet"
timestamp
echo "-----------------------------------------------------------------------------"  
echo " "  
/tf/rover/rover.sh -lz /tf/caf/landingzones/caf_solution \
-level level3 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level3/networking_spoke_internet \
-env {{caf_environment}} \
-tfstate networking_spoke_internet.tfstate \
-a apply
RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo success
  echo "-----------------------------------------------------------------------------"   
  timestamp 
  echo "end networking_spoke_internet"
  echo "-----------------------------------------------------------------------------"    
  echo " "    
fi
{% endif %}
{% if ingress_egress_firewall_egress | trim == '1' %}

echo "-----------------------------------------------------------------------------"  
echo "start networking_firewall_egress_internet"
timestamp
echo "-----------------------------------------------------------------------------"  
echo " "  
/tf/rover/rover.sh -lz /tf/caf/landingzones/caf_solution \
-level level3 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level3/egress_internet/firewall \
-env {{caf_environment}} \
-tfstate networking_firewall_egress_internet.tfstate \
-a apply
RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo success
  echo "-----------------------------------------------------------------------------"   
  timestamp 
  echo "end networking_firewall_egress_internet"
  echo "-----------------------------------------------------------------------------"    
  echo " "    
fi
{% endif %}
{% if ingress_egress_firewall_egress_intranet | trim == '1' %}

echo "-----------------------------------------------------------------------------"  
echo "start networking_firewall_egress_intranet"
timestamp
echo "-----------------------------------------------------------------------------"  
echo " "  
/tf/rover/rover.sh -lz /tf/caf/landingzones/caf_solution \
-level level3 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level3/egress_intranet/firewall \
-env {{caf_environment}} \
-tfstate networking_firewall_egress_intranet.tfstate \
-a apply
RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo success
  echo "-----------------------------------------------------------------------------"   
  timestamp 
  echo "end networking_firewall_egress_intranet"
  echo "-----------------------------------------------------------------------------"    
  echo " "    
fi
{% endif %}
{% if ingress_egress_agw | trim == '1' %}

echo "-----------------------------------------------------------------------------"  
echo "start solution_accelerators_agw_internet_ssl"
timestamp
echo "-----------------------------------------------------------------------------"  
echo " "  
/tf/rover/rover.sh -lz /tf/caf/landingzones/caf_solution \
-level level3 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level3/ingress_internet/agw \
-env {{caf_environment}} \
-tfstate solution_accelerators_agw_internet_ssl.tfstate \
-a apply
RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo success
  echo "-----------------------------------------------------------------------------"   
  timestamp 
  echo "end solution_accelerators_agw_internet_ssl"
  echo "-----------------------------------------------------------------------------"    
  echo " "    
fi
{% endif %}
{% if ingress_egress_firewall | trim == '1' %}

echo "-----------------------------------------------------------------------------"  
echo "start networking_firewall_ingress_internet"
timestamp
echo "-----------------------------------------------------------------------------"  
echo " "  
/tf/rover/rover.sh -lz /tf/caf/landingzones/caf_solution \
-level level3 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level3/ingress_internet/firewall \
-env {{caf_environment}} \
-tfstate networking_firewall_ingress_internet.tfstate \
-a apply
RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo success
  echo "-----------------------------------------------------------------------------"   
  timestamp 
  echo "end networking_firewall_ingress_internet"
  echo "-----------------------------------------------------------------------------"    
  echo " "    
fi
{% endif %}
{% if ingress_egress_agw_intranet | trim == '1' %}

echo "-----------------------------------------------------------------------------"  
echo "start solution_accelerators_agw_intranet_ssl"
timestamp
echo "-----------------------------------------------------------------------------"  
echo " "  
/tf/rover/rover.sh -lz /tf/caf/landingzones/caf_solution \
-level level3 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level3/ingress_intranet/agw \
-env {{caf_environment}} \
-tfstate solution_accelerators_agw_intranet_ssl.tfstate \
-a apply
RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo success
  echo "-----------------------------------------------------------------------------"   
  timestamp 
  echo "end solution_accelerators_agw_intranet_ssl"
  echo "-----------------------------------------------------------------------------"    
  echo " "    
fi
{% endif %}
{% if ingress_egress_firewall_intranet | trim == '1' %}

echo "-----------------------------------------------------------------------------"  
echo "start networking_firewall_ingress_intranet"
timestamp
echo "-----------------------------------------------------------------------------"  
echo " "  
/tf/rover/rover.sh -lz /tf/caf/landingzones/caf_solution \
-level level3 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level3/ingress_intranet/firewall \
-env {{caf_environment}} \
-tfstate networking_firewall_ingress_intranet.tfstate \
-a apply
RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo success
  echo "-----------------------------------------------------------------------------"   
  timestamp 
  echo "end networking_firewall_ingress_intranet"
  echo "-----------------------------------------------------------------------------"    
  echo " "    
fi
{% endif %}
{% if devops_vnet_name | trim != 'None' %}


# -------------------------------------------------------------------------------------------------------------
# level 4 - solutions accelerators   
# ------------------------------------------------------------------------------------------------------------- 

echo "-----------------------------------------------------------------------------"  
echo "start solution_accelerators_devops"
timestamp
echo "-----------------------------------------------------------------------------"  
echo " "  
/tf/rover/rover.sh -lz  /tf/caf/landingzones/caf_solution \
-level level4 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level4/devops \
-env {{caf_environment}} \
-tfstate solution_accelerators_devops.tfstate \
-a apply
RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo success
  echo "-----------------------------------------------------------------------------"   
  timestamp 
  echo "end solution_accelerators_devops"
  echo "-----------------------------------------------------------------------------"    
  echo " "    
fi
{% endif %}
{% if management_vnet_name | trim != 'None' %}

echo "-----------------------------------------------------------------------------"  
echo "start solution_accelerators_management"
timestamp
echo "-----------------------------------------------------------------------------"  
echo " "  
/tf/rover/rover.sh -lz /tf/caf/landingzones/caf_solution \
-level level4 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level4/management \
-env {{caf_environment}} \
-tfstate solution_accelerators_management.tfstate \
-a apply
RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo success
  echo "-----------------------------------------------------------------------------"   
  timestamp 
  echo "end solution_accelerators_management"
  echo "-----------------------------------------------------------------------------"    
  echo " "    
fi
{% endif %}
{% if internet_data_mssql | trim == '1' %}

echo "-----------------------------------------------------------------------------"  
echo "start solution_accelerators_mssql"
timestamp
echo "-----------------------------------------------------------------------------"  
echo " "  
/tf/rover/rover.sh -lz /tf/caf/landingzones/caf_solution \
-level level4 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level4/project/mssql \
-env {{caf_environment}} \
-tfstate solution_accelerators_mssql.tfstate \
-a apply
RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo success
  echo "-----------------------------------------------------------------------------"   
  timestamp 
  echo "end solution_accelerators_mssql"
  echo "-----------------------------------------------------------------------------"    
  echo " "    
fi
{% endif %}
{% if internet_data_storage_account | trim == '1' %}

RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo "-----------------------------------------------------------------------------"  
  echo "begin solution_accelerators_storage_account"  
  timestamp
  echo "-----------------------------------------------------------------------------"  
  echo " "  
  /tf/rover/rover.sh  -lz /tf/caf/landingzones/caf_solution \
  -level level4 \
  -var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level4/project/storage_account \
  -env {{caf_environment}} \
  -tfstate solution_accelerators_storage_account.tfstate \
  -a apply
fi
RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo success
  echo "-----------------------------------------------------------------------------"  
  timestamp  
  echo "end solution_accelerators_storage_account"
  echo "-----------------------------------------------------------------------------"  
  echo " "    
fi
{% endif %}
{% if internet_app_keyvault | trim == '1' %}

RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo "-----------------------------------------------------------------------------"  
  echo "begin solution_accelerators_keyvault"  
  timestamp  
  echo "-----------------------------------------------------------------------------"  
  echo " "  
    /tf/rover/rover.sh -lz /tf/caf/landingzones/caf_solution \
  -level level4 \
  -var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level4/project/keyvault \
  -env {{caf_environment}} \
  -tfstate solution_accelerators_keyvault.tfstate \
  -a apply
fi
RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo success
  echo "-----------------------------------------------------------------------------"  
  timestamp  
  echo "end solution_accelerators_keyvault"
  echo "-----------------------------------------------------------------------------"  
  echo " "    
fi
{% endif %}
{% if internet_app_logic_app | trim == '1' %}

RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo "-----------------------------------------------------------------------------"  
  echo "begin solution_accelerators_logic_app"  
  timestamp  
  echo "-----------------------------------------------------------------------------"  
  echo " "  
  /tf/rover/rover.sh -lz /tf/caf/landingzones/caf_solution \
  -level level4 \
  -var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level4/project/logic_app \
  -env {{caf_environment}} \
  -tfstate solution_accelerators_logic_app.tfstate \
  -a apply
fi
RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo success
  timestamp
  echo "-----------------------------------------------------------------------------"  
  timestamp  
  echo "end solution_accelerators_logic_app"
  echo "-----------------------------------------------------------------------------"  
  echo " "    
fi
{% endif %}
{% if internet_app_app_service | trim == '1' %}

RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo "-----------------------------------------------------------------------------"  
  echo "begin solution_accelerators_app_service"  
  timestamp  
  echo "-----------------------------------------------------------------------------"  
  echo " "  
  /tf/rover/rover.sh -lz  /tf/caf/landingzones/caf_solution \
  -level level4 \
  -var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level4/project/app_service \
  -env {{caf_environment}} \
  -tfstate solution_accelerators_app_service.tfstate \
  -a apply
fi
RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo success
  timestamp
  echo "-----------------------------------------------------------------------------"  
  timestamp  
  echo "end solution_accelerators_app_service"
  echo "-----------------------------------------------------------------------------"  
  echo " "    
fi
{% endif %}
{% if internet_data_cosmosdb | trim == '1' %}

RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo "-----------------------------------------------------------------------------"  
  echo "begin solution_accelerators_cosmosdb"  
  timestamp  
  echo "-----------------------------------------------------------------------------"  
  echo " "  
rover -lz /tf/caf/landingzones/caf_solution \
-level level4 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level4/project/cosmosdb \
-env {{caf_environment}} \
-tfstate solution_accelerators_cosmosdb.tfstate \
-a apply
fi
RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo success
  timestamp
  echo "-----------------------------------------------------------------------------"  
  timestamp  
  echo "end solution_accelerators_cosmosdb"
  echo "-----------------------------------------------------------------------------"  
  echo " "    
fi
{% endif %}
{% if internet_app_aks | trim == '1' %}

RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo "-----------------------------------------------------------------------------"  
  echo "begin solution_accelerators_aks"  
  timestamp  
  echo "-----------------------------------------------------------------------------"  
  echo " "  
rover -lz /tf/caf/landingzones/caf_solution \
-level level4 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level4/project/aks \
-env {{caf_environment}} \
-tfstate solution_accelerators_aks.tfstate \
-a apply
fi
RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo success
  timestamp
  echo "-----------------------------------------------------------------------------"  
  timestamp  
  echo "end solution_accelerators_aks"
  echo "-----------------------------------------------------------------------------"  
  echo " "    
fi
{% endif %}
{% if internet_app_linux_function_app | trim == '1' %}

RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo "-----------------------------------------------------------------------------"  
  echo "begin solution_accelerators_linux_function_app"  
  timestamp  
  echo "-----------------------------------------------------------------------------"  
  echo " "  
rover -lz /tf/caf/landingzones/caf_solution \
-level level4 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level4/project/linux_function_app \
-env {{caf_environment}} \
-tfstate solution_accelerators_linux_function_app.tfstate \
-a apply
fi
RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo success
  timestamp
  echo "-----------------------------------------------------------------------------"  
  timestamp  
  echo "end solution_accelerators_linux_function_app"
  echo "-----------------------------------------------------------------------------"  
  echo " "    
fi
{% endif %}
{% if internet_app_openai | trim == '1' %}

RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo "-----------------------------------------------------------------------------"  
  echo "begin solution_accelerators_openai"  
  timestamp  
  echo "-----------------------------------------------------------------------------"  
  echo " "  
rover -lz /tf/caf/landingzones/caf_solution \
-level level4 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level4/project/openai_service \
-env {{caf_environment}} \
-tfstate solution_accelerators_openai.tfstate \
-a apply
fi
RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo success
  timestamp
  echo "-----------------------------------------------------------------------------"  
  timestamp  
  echo "end solution_accelerators_openai"
  echo "-----------------------------------------------------------------------------"  
  echo " "    
fi
{% endif %}
{% if internet_app_search_service | trim == '1' %}

RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo "-----------------------------------------------------------------------------"  
  echo "begin solution_accelerators_search_service"  
  timestamp  
  echo "-----------------------------------------------------------------------------"  
  echo " "  
rover -lz /tf/caf/landingzones/caf_solution \
-level level4 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level4/project/search_service \
-env {{caf_environment}} \
-tfstate solution_accelerators_search_service.tfstate \
-a apply
fi
RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo success
  timestamp
  echo "-----------------------------------------------------------------------------"  
  timestamp  
  echo "end solution_accelerators_search_service"
  echo "-----------------------------------------------------------------------------"  
  echo " "    
fi
{% endif %}
{% if internet_app_agw | trim == '1' %}

RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo "-----------------------------------------------------------------------------"  
  echo "begin solution_accelerators_agw"  
  timestamp  
  echo "-----------------------------------------------------------------------------"  
  echo " "  
rover -lz /tf/caf/landingzones/caf_solution \
-level level4 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level4/project/agw \
-env {{caf_environment}} \
-tfstate solution_accelerators_agw.tfstate \
-a apply
fi
RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo success
  timestamp
  echo "-----------------------------------------------------------------------------"  
  timestamp  
  echo "end solution_accelerators_agw"
  echo "-----------------------------------------------------------------------------"  
  echo " "    
fi
{% endif %}
{% if internet_app_container_instance | trim == '1' %}

RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo "-----------------------------------------------------------------------------"  
  echo "begin solution_accelerators_container_instance"  
  timestamp  
  echo "-----------------------------------------------------------------------------"  
  echo " "  
rover -lz /tf/caf/landingzones/caf_solution \
-level level4 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level4/project/container_instance \
-env {{caf_environment}} \
-tfstate solution_accelerators_container_instance.tfstate \
-a apply
fi
RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo success
  timestamp
  echo "-----------------------------------------------------------------------------"  
  timestamp  
  echo "end solution_accelerators_container_instance"
  echo "-----------------------------------------------------------------------------"  
  echo " "    
fi
{% endif %}
{% if internet_app_apim | trim == '1' %}

RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo "-----------------------------------------------------------------------------"  
  echo "begin solution_accelerators_apim"  
  timestamp  
  echo "-----------------------------------------------------------------------------"  
  echo " "  
rover -lz /tf/caf/landingzones/caf_solution \
-level level4 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level4/project/apim \
-parallelism 30 \
-env {{caf_environment}} \
-tfstate solution_accelerators_apim.tfstate \
-a apply
fi
RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo success
  timestamp
  echo "-----------------------------------------------------------------------------"  
  timestamp  
  echo "end solution_accelerators_apim"
  echo "-----------------------------------------------------------------------------"  
  echo " "    
fi
{% endif %}
{% if internet_data_redis_cache | trim == '1' %}

RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo "-----------------------------------------------------------------------------"  
  echo "begin solution_accelerators_redis"  
  timestamp  
  echo "-----------------------------------------------------------------------------"  
  echo " "  
rover -lz /tf/caf/landingzones/caf_solution \
-level level4 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level4/project/redis \
-env {{caf_environment}} \
-tfstate solution_accelerators_redis.tfstate \
-a apply
fi
RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo success
  timestamp
  echo "-----------------------------------------------------------------------------"  
  timestamp  
  echo "end solution_accelerators_redis"
  echo "-----------------------------------------------------------------------------"  
  echo " "    
fi
{% endif %}

RESULT=$?
if [ $RESULT -eq 0 ]; then
  echo " "    
  echo " "    
  echo "-----------------------------------------------------------------------------"    
  timestamp
  echo "end deployment"  
  echo "-----------------------------------------------------------------------------"    
else
  echo failed
  echo "Fix the errors and restart the rover bootstrap"  
fi


echo "-----------------------------------------------------------------------------"    
timestamp
echo "Check and Manually add peering if required."  
echo "-----------------------------------------------------------------------------"    








