managed_identities = {
  agw1_keyvault_demo_certs = {
    name               = "agw1-certs-internet-msi"
    resource_group_key = "agw_re1"

    tags = { 
      purpose = "{{zone_code}} agw managed identity" 
      project-code = "{{project_code}}" 
      env = "{{caf_environment}}" 
      zone = "{{zone_code}}"
      tier = "{{tier_code}}"           
    } 

  }
}
