public_ip_addresses = {
  agw_pip_re1 = {
    name                    = "agw-re1"
    resource_group_key      = "agw_re1"
    sku                     = "Standard"
    allocation_method       = "Static"
    ip_version              = "IPv4"
    availability_zone       = "1"
    idle_timeout_in_minutes = "4"

    tags = { 
      purpose = "{{zone_code}} agw public ip address" 
      project-code = "{{project_code}}" 
      env = "{{caf_environment}}" 
      zone = "{{zone_code}}"
      tier = "{{tier_code}}"           
    }     

  }
}