#
# Note: diagnostic_log_analytics is pre-created by GCC during onboarding
# use log_analytics_resource_id instead of log_analytics_key
#

diagnostics_destinations = {
  # Storage keys must reference the azure region name
  log_analytics = {   # <- this is destination type
    central_logs = {  # <- this is destination key
{% if gcc_platform | trim == '1' %}    
      log_analytics_resource_id = "/subscriptions/{{subscription_id}}/resourceGroups/{{log_analytics_workspace_resource_group_name}}/providers/Microsoft.OperationalInsights/workspaces/{{log_analytics_workspace_name}}",
{% else %}
      log_analytics_key              = "central_logs_region1"
{% endif %}
      log_analytics_destination_type = "Dedicated"
    }
  }

}

{% if gcc_platform | trim == '1' %}
# diagnostic_log_analytics
# created by CMP "/subscriptions/{{subscription_id}}/resourceGroups/{{log_analytics_workspace_resource_group_name}}/providers/Microsoft.OperationalInsights/workspaces/{{log_analytics_workspace_name}}"
{% else %}
# gcc is using govtech law, this is for non gcc
diagnostic_log_analytics = {
  central_logs_region1 = {
    region             = "region1"
    name               = "logs"
    resource_group_key = "ops_re1"
  }
}
{% endif %}