resource_groups = {
  ops_rg_re1 = {
    name   = "shared-services-re1"
    region = "region1"
    tags = { 
      purpose = "shared services resource groups" 
      project-code = "{{project_code}}" 
      env = "{{caf_environment}}" 
      zone = "{{zone_code}}"
      tier = "{{tier_code}}"        
    }   
  }
}