
private_dns = {
  dns1 = {
    name               = "intranet.caflabs.com"
    resource_group_key = "networking_hub_intranet_re1"

    records = {
      a_records1 = {
        ingress = {
          name    = "aks"
          ttl     = 3600
          records = ["{{ingress_intranet_aks_ip}}"] # TODO: set the agw intranet private ip address
        }
      }      
      a_records2 = {
        ingress = {
          name    = "demoapp1"
          ttl     = 3600
          records = ["{{ingress_intranet_agw_ip}}"] # TODO: set the agw intranet private ip address
        }
      }
           
    }

    vnet_links = {
      app_internet_vnet_link = {
        name               = "ingress-intranet-vnet"
        registration_enabled = true
        virtual_network_id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{ingress_egress_vnet_name_ingress_intranet}}"
      }    
    }
  }
}