landingzone = {
  backend_type        = "azurerm"
  global_settings_key = "launchpad"
  level               = "level3"
  key                 = "networking_spoke_internet" 
  tfstates = {
    launchpad = {
      level   = "lower"
      tfstate = "caf_launchpad.tfstate" # set to launchpad tfstate name
    } 
    shared_services = {
      level   = "current"
      tfstate = "shared_services.tfstate" # set to referenced landingzone tfstate name      
    }    
    networking_firewall_egress_internet = {
      level   = "current"
      tfstate = "networking_firewall_egress_internet.tfstate" # set to referenced landingzone tfstate name      
    } 
    networking_firewall_egress_intranet = {
      level   = "current"
      tfstate = "networking_firewall_egress_intranet.tfstate" # set to referenced landingzone tfstate name      
    } 
  }
}
