route_tables = {
  default_to_firewall_re1 = {
    name               = "default_to_egress_firewall_re1"
    resource_group_key = "networking_spoke_re1"
  }
}

azurerm_routes = {

  default_to_firewall_re1 = {
    name               = "0-0-0-0-through-firewall-re1"
    resource_group_key = "networking_spoke_re1"
    route_table_key    = "default_to_firewall_re1"
    address_prefix     = "0.0.0.0/0" # all IP addresses
    # address_prefix     = "172.1.0.0/24" # dummy IP addresses    
    next_hop_type      = "VirtualAppliance"
    # next_hop_type_key  = "azurerm_firewall"
    next_hop_in_ip_address = "100.1.1.4" # TODO: set the ip address of virtual appliance 

    # To be set when next_hop_type = "VirtualAppliance"
    private_ip_keys = { # e.g. 100.1.1.4
      azurerm_firewall = {
        lz_key          = "networking_firewall_egress_internet" # "networking_hub"
        key             = "fw_re1" # "firewall_re1" # "fw_re1"
        interface_index = 0
      }
    }
  }
  default_to_firewall_intranet_re1 = {
    name               = "10-0-0-0-through-firewall-intranet-re1"
    resource_group_key = "networking_spoke_re1"
    route_table_key    = "default_to_firewall_re1"
    address_prefix     = "10.0.0.0/8" # all intranet IP addresses
    next_hop_type      = "VirtualAppliance"
    # next_hop_type_key  = "azurerm_firewall_intranet"
    next_hop_in_ip_address = "10.2.1.4" # TODO: set the ip address of virtual appliance     

    # To be set when next_hop_type = "VirtualAppliance"
    private_ip_keys = { # e.g. 100.1.1.4
      azurerm_firewall_intranet = {
        lz_key          = "networking_firewall_egress_intranet" # "networking_hub"
        key             = "fw_re1" # "firewall_re1" # "fw_re1"
        interface_index = 0
      }
    }
  }  
}
