
virtual_subnets = {
  # private segment
  app_internet_subnet = {
    name    = "app-internet"
    cidr    = ["{{cidr_internet_zone_subnet_app}}"]
    nsg_key = "app_nsg"
    route_table_key = "default_to_firewall_re1"    
    enforce_private_link_endpoint_network_policies = "true"    
    service_endpoints = ["Microsoft.KeyVault", "Microsoft.Storage"]
    vnet = {
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{internet_vnet_name}}"
    }    
  }  
  db_internet_subnet = {
    name    = "db-internet"
    cidr    = ["{{cidr_internet_zone_subnet_data}}"]
    nsg_key = "db_nsg"
    service_endpoints = ["Microsoft.KeyVault", "Microsoft.Storage"]
    enforce_private_link_endpoint_network_policies = "true"   
    vnet = {
      id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{internet_vnet_name}}"
    }
  }  
  # end private segment
}
