diagnostic_storage_accounts = {

  izhub_central_nsg_flow_logs_sa_re1 = {
    name                     = "diaglogsre1izhub"
    region                   = "region1"
    resource_group_key       = "networking_hub_intranet_re1"
    account_kind             = "StorageV2"
    account_tier             = "Standard"
    account_replication_type = "LRS"
    access_tier              = "Hot"
    
    tags = { 
      purpose = "hub intranet diagnostic_storage_accounts" 
      project-code = "{{project_code}}" 
      env = "{{caf_environment}}" 
      zone = "{{zone_code}}"
      tier = "{{tier_code}}"       
    }       
  }
}

## destinations definition
diagnostics_destinations = {
  storage = {
    all_regions = {
      southeastasia = {
        storage_account_key = "izhub_central_nsg_flow_logs_sa_re1"
      }
    }
  }
  # Storage keys must reference the azure region name
  log_analytics = {  # <- this is destination type
    central_logs = { # <- this is destination key
{% if gcc_platform | trim == '1' %}      
      log_analytics_resource_id = "/subscriptions/{{subscription_id}}/resourceGroups/{{log_analytics_workspace_resource_group_name}}/providers/Microsoft.OperationalInsights/workspaces/{{log_analytics_workspace_name}}",
{% else %}
      # TODO: update the log_analytics_resource_id if using random code for name
      log_analytics_resource_id = "/subscriptions/{{subscription_id}}/resourceGroups/{{prefix}}-rg-ops-re1/providers/Microsoft.OperationalInsights/workspaces/{{prefix}}-log-agency-law"
{% endif %}

      log_analytics_destination_type = "Dedicated"
    }
  }    
}