{% if gcc_platform | trim == '1' %}
#------------------------------------------------------
# this page is leave blank intentionally
#------------------------------------------------------
{% else %}
vnets = {

  vnet_hub_intranet_ingress_re1 = { 
    resource_group_key = "networking_hub_intranet_re1"
    region             = "region1"
    vnet = {
      name          = "hub-intranet-ingress-re1"
      address_space = ["{{ingress_egress_vnet_name_ingress_intranet_cidr}}"] # ["10.2.0.0/25"]
    }


    # AzureFirewallSubnet    10.2.0.0/26
    # ApplicationGatewaySubnet 10.2.0.64/27"
    # AzureFirewallSubnet_egress 10.2.1.0/26
    # AzureFirewallMangementSubnet_egress 10.2.1.64/26
    #  cidr_ingress_egress_zone_subnet_ingress_intranet: "{{configuration.cidr_ingress_egress_zone_subnet_ingress_intranet | trim}}"    
    #  cidr_ingress_egress_zone_subnet_ingress_agw_intranet: "{{configuration.cidr_ingress_egress_zone_subnet_ingress_agw_intranet | trim}}"    

    subnets = {

      # begin ingress zone
      AzureFirewallSubnet = {
        name    = "AzureFirewallSubnet" # Must be called AzureFirewallSubnet
        cidr    = ["{{cidr_ingress_egress_zone_subnet_ingress_intranet}}"] # ["10.2.0.0/26"] # 64 ips
        service_endpoints = ["Microsoft.KeyVault", "Microsoft.Storage"]    
        # vnet = {
        #   id = "/subscriptions/{{subscription_id}}/resourceGroups/gcci-platform/providers/Microsoft.Network/virtualNetworks/gcci-vnet-ingress-intranet"

        # }      
      } 
      ApplicationGatewaySubnet = {
        name    = "ingress-agw" 
        cidr    = ["{{cidr_ingress_egress_zone_subnet_ingress_agw_intranet}}"] # ["10.2.0.64/27"]  # 23 ips
        nsg_key = "web_nsg"    
        service_endpoints = ["Microsoft.KeyVault", "Microsoft.Storage"]    
        # vnet = {
        #   id = "/subscriptions/{{subscription_id}}/resourceGroups/gcci-platform/providers/Microsoft.Network/virtualNetworks/gcci-vnet-ingress-intranet"

        # }      
      }   
      # end ingress zone
    }

  }

  vnet_hub_intranet_egress_re1 = { 
    resource_group_key = "networking_hub_intranet_re1"
    region             = "region1"
    vnet = {
      name          = "hub-intranet-egress-re1"
      address_space = ["{{ingress_egress_vnet_name_egress_intranet_cidr}}"] #["10.2.1.0/25"]
    }

    subnets = {
    # AzureFirewallSubnet    10.2.0.0/26
    # ApplicationGatewaySubnet 10.2.0.64/27"
    # AzureFirewallSubnet_egress 10.2.1.0/26
    # AzureFirewallMangementSubnet_egress 10.2.1.64/26
      # begin egress zone
      AzureFirewallSubnet_egress = {
        name    = "AzureFirewallSubnet" # Must be called AzureFirewallSubnet
        cidr    =["{{cidr_ingress_egress_zone_subnet_egress_intranet}}"] # ["10.2.1.0/26"]   # 64 ips
        service_endpoints = ["Microsoft.KeyVault", "Microsoft.Storage"]    
        # vnet = {
        #   id = "/subscriptions/{{subscription_id}}/resourceGroups/gcci-platform/providers/Microsoft.Network/virtualNetworks/gcci-vnet-egress-intranet"

        # }      
      }  
      AzureFirewallMangementSubnet_egress = {
        name    = "AzureFirewallManagementSubnet" 
        cidr    = ["{{cidr_ingress_egress_zone_subnet_egress_mgmt_intranet}}"] # ["10.2.1.64/26"]   # 64 ips
        service_endpoints = ["Microsoft.KeyVault", "Microsoft.Storage"]    
        # vnet = {
        #   id = "/subscriptions/{{subscription_id}}/resourceGroups/gcci-platform/providers/Microsoft.Network/virtualNetworks/gcci-vnet-egress-intranet"

        # }      
      }   
      # end egress zone  
    }

  }

} //vnets
{% endif %}
