managed_identities = {
{% if internet_app_aks | trim == '1' %}  
  aks_usermsi = {
    name               = "aks-usermsi" 
    resource_group_key = "networking_spoke_internet_re1"

    tags = { 
      purpose = "internet aks managed identity" 
      # project_code = "{{project_code}}" 
      env = "{{caf_environment}}" 
      zone = "{{tag_zone_code}}"
      tier = "{{tag_tier_code}}"           
    }  
  }
{% endif %}  
{% if internet_data_mssql | trim == '1' %}

  # TODO: check how is this used? - currently not used
  mssql_usermsi = {
    name               = "mssql" 
    resource_group_key = "networking_spoke_internet_re1"
    tags = { 
      purpose = "mssql managed identity" 
      # project_code = "{{project_code}}" 
      env = "{{caf_environment}}" 
      zone = "{{tag_zone_code}}"
      tier = "{{tag_tier_code}}"           
    }     
  } 
{% endif %}  
{% if internet_data_cosmosdb | trim == '1' %}  

  cosmos_usermsi = {
    name               = "cosmos" 
    resource_group_key = "networking_spoke_internet_re1"
    tags = { 
      purpose = "cosmos managed identity" 
      # project_code = "{{project_code}}" 
      env = "{{caf_environment}}" 
      zone = "{{tag_zone_code}}"
      tier = "{{tag_tier_code}}"           
    }     
  } 
{% endif %}  
{% if internet_app_linux_function_app | trim == '1' %}  

  fa_usermsi = {
    name               = "fa" 
    resource_group_key = "networking_spoke_internet_re1"
    tags = { 
      purpose = "fa managed identity" 
      # project_code = "{{project_code}}" 
      env = "{{caf_environment}}" 
      zone = "{{tag_zone_code}}"
      tier = "{{tag_tier_code}}"           
    }     
  } 
{% endif %}  
{% if internet_app_openai | trim == '1' %}  

  openai_usermsi = {
    name               = "openai" 
    resource_group_key = "networking_spoke_internet_re1"
    tags = { 
      purpose = "openai managed identity" 
      # project_code = "{{project_code}}" 
      env = "{{caf_environment}}" 
      zone = "{{tag_zone_code}}"
      tier = "{{tag_tier_code}}"           
    }     
  } 
{% endif %}  
{% if internet_app_search_service | trim == '1' %}  

  search_service_usermsi = {
    name               = "search_service" 
    resource_group_key = "networking_spoke_internet_re1"
    tags = { 
      purpose = "openai managed identity" 
      # project_code = "{{project_code}}" 
      env = "{{caf_environment}}" 
      zone = "{{tag_zone_code}}"
      tier = "{{tag_tier_code}}"           
    }     
  } 
{% endif %}  
{% if internet_app_keyvault | trim == '1' %}  

  kv_usermsi = {
    name               = "kv" 
    resource_group_key = "networking_spoke_internet_re1"
    tags = { 
      purpose = "openai managed identity" 
      # project_code = "{{project_code}}" 
      env = "{{caf_environment}}" 
      zone = "{{tag_zone_code}}"
      tier = "{{tag_tier_code}}"           
    }     
  } 
{% endif %} 
{% if internet_data_redis_cache | trim == '1' %}  

  redis_cache_usermsi = {
    name               = "redis_cache" 
    resource_group_key = "networking_spoke_internet_re1"
    tags = { 
      purpose = "redis cache managed identity" 
      # project_code = "{{project_code}}" 
      env = "{{caf_environment}}" 
      zone = "{{tag_zone_code}}"
      tier = "{{tag_tier_code}}"           
    }     
  } 
{% endif %} 
{% if internet_data_storage_account | trim == '1' %}  

  blob_usermsi = {
    name               = "blob" 
    resource_group_key = "networking_spoke_internet_re1"
    tags = { 
      purpose = "blob managed identity" 
      # project_code = "{{project_code}}" 
      env = "{{caf_environment}}" 
      zone = "{{tag_zone_code}}"
      tier = "{{tag_tier_code}}"           
    }     
  } 
{% endif %} 

}