#
# ** IMPORTANT - Fpr AKS, must grant contributor (or Reader + Network Contributor) right to internet vnet inorder to create correct internal lb
# 
role_mapping = {
  built_in_role_mapping = {

    # role mapping must execute before ask cluster
    # grant aks_usermsi with right "Private DNS Zone Contributor" to "privatelink.southeastasia.azmk8s.io" private dns zone
    private_dns = {
{% if internet_data_mssql | trim == '1' %}

      db_dns_re1 = {
        "Private DNS Zone Contributor" = {
          managed_identities = {
            keys = ["mssql_usermsi"]
          }
        }
      }  
{% endif %}
{% if internet_data_cosmosdb | trim == '1' %}

      cosmos_dns_re1 = {
        "Private DNS Zone Contributor" = {
          managed_identities = {
            keys = ["cosmos_usermsi"]
          }
        }
      }  
{% endif %}       
{% if internet_app_search_service | trim == '1' %}

      # search_service_dns_re1
      search_service_dns_re1 = {
        "Private DNS Zone Contributor" = {
          managed_identities = {
            keys = ["search_service_usermsi"]
          }
        }
      }  
{% endif %}  
{% if internet_app_openai | trim == '1' %}

      # openai_dns_re1
      openai_dns_re1 = {
        "Private DNS Zone Contributor" = {
          managed_identities = {
            keys = ["openai_usermsi"]
          }
        }
      }  
{% endif %}  
{% if internet_app_linux_function_app | trim == '1' %}

      # fa_dns_re1
      azurewebsites_dns_re1 = {
        "Private DNS Zone Contributor" = {
          managed_identities = {
            keys = ["fa_usermsi"]
          }
        }
      }  
{% endif %}  
{% if internet_app_keyvault | trim == '1' %}

      # kv_dns_re1
      kv_dns_re1 = {
        "Private DNS Zone Contributor" = {
          managed_identities = {
            keys = ["kv_usermsi"]
          }
        }
      }  
{% endif %}  
{% if internet_data_storage_account | trim == '1' %}

      # blob_dns_re1
      blob_dns_re1 = {
        "Private DNS Zone Contributor" = {
          managed_identities = {
            keys = ["blob_usermsi"]
          }
        }
      }  
{% endif %}  
{% if internet_data_redis_cache | trim == '1' %}

      # redis_cache_dns_re1
      redis_cache_dns_re1 = {
        "Private DNS Zone Contributor" = {
          managed_identities = {
            keys = ["redis_cache_usermsi"]
          }
        }
      }  
{% endif %}  

    } 
       
  }
}
