
postgresql_servers = {
  postgresql_server_re1 = {
    name                = "postgresql-server"
    region              = "region1"
    resource_group_key  = "postgresql_re1"
    version             = "9.6"
    sku_name            = "GP_Gen5_2"
    administrator_login = "postgresqlsalesadmin"
    #   Below password argument is used to set the DB password. If not passed, there will be a random password generated and stored in azure keyvault.
    #   administrator_login_password  = "ComplxP@ssw0rd!"
    keyvault_key                  = "postgresql_kv_re1"
    connection_policy             = "Default"
    system_msi                    = true
    public_network_access_enabled = true
    auto_grow_enabled             = true
    #vnet_key                      = "vnet_region1"
    #subnet_key                    = "postgresql_subnet"
    # replace with subnet_id
    subnet_id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{internet_vnet_name}}/subnets/{{prefix}}-snet-db-{{zone_code}}",

    extended_auditing_policy = {
      storage_account = {
        key = "auditing-re1"
      }
      retention_in_days = 7
    }

    postgresql_configurations = {
      postgresql_configuration1 = {
        name                = "backslash_quote"
        resource_group_name = "postgresql_rg_re1"
        server_name         = "postgresql_server_re1"
        value               = "on"
      }
    }

    postgresql_databases = {
      postgresql_database = {
        name                = "postgresql_server_sampledb"
        resource_group_name = "postgresql_rg_re1"
        server_name         = "postgresql_server_re1"
        charset             = "UTF8"
        collation           = "English_United States.1252"
      }
    }

    azuread_administrator = {
      azuread_group_key = "sales_admins"
    }

    tags = {
      segment = "sales"
    }

    # Optional
    private_endpoints = {
      # Require enforce_private_link_endpoint_network_policies set to true on the subnet
      private-link-level4 = {
        name               = "sales-postgresql-re1"
        #vnet_key           = "vnet_region1"
        #subnet_key         = "postgresql_subnet"
        # replace with subnet_id
        subnet_id = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{internet_vnet_name}}/subnets/{{prefix}}-snet-db-{{zone_code}}",


        resource_group_key = "postgresql_rg_re1"

        private_service_connection = {
          name                 = "sales-postgresql-re1"
          is_manual_connection = false
          subresource_names    = ["postgresqlServer"]
        }
      }
    }

    # Optional
    threat_detection_policy = {
      enabled = true
      disabled_alerts = [
        # "Sql_Injection",
        # "Sql_Injection_Vulnerability",
        # "Access_Anomaly",
        # "Data_Exfiltration",
        # "Unsafe_Action"
      ]
      email_account_admins = false
      email_addresses      = []
      retention_days       = 15
    }

  }

}



