resource_groups = {
  postgresql_rg_re1 = {
    name = "postgresql"           
    region = "region1"    
    tags = {  # use desired tags
      project-code = "ignite" # use project-code
      env          = "sit" # use env
      purpose      = "gcc dev environment shared services resource group"
    }     
  }
  security_rg_re1 = {
    name = "postgre-sql-security-re1"
  }  
}