# TODO: Enhance with checking of empty variables

# Terraform for GCC development environment
##### Original Authored by: Jason Pang  

Use your MSDN Subscription

# Login to Azure
```bash
rover login
# sandpit
az login --tenant [tenant id] # e.g. htx sandpit xxxxxx-ffda-45c1-adc5-xxxxxxxxxxxx 
```

# optional - set to correct subscription
```bash
az account set --subscription <your subscription id>

# Create GCC Development Environment
```bash
cd /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/gcc_dev_env

terraform init

terraform plan

terraform apply

cd ..

```

# Next step
# Goto README.md at /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level0/launchpad/README.md
