resource_groups = {
  aks_re1 = {
    name = "aks-re1" 
    tags = { 
      purpose = "{{zone_code}} aks resource group" 
      project-code = "{{project_code}}" 
      env = "{{caf_environment}}" 
      zone = "{{zone_code}}"
      tier = "{{tier_code}}"          
    } 
  }
} 
