This will create
--vnet
--Subnets (Web\App\Data)
--nsg
rover login

az account set --subscription {{subscription_id}}



# vnet id: vnet
# check sku size
# az vm list-skus --location eastus --size Standard_D --all --output table
-tfstate agz_xyz_prd_iz_apim.tfstate \
/tf/caf/gcc-ignite/level0/launchpad \

rover -lz rover -lz /tf/caf/landingzones/caf_solution \
-level level4 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level4/{{zone_code}}/vmss/linux \
-parallelism 30 \
-env {{caf_environment}} \
-tfstate solution_accelerators_{{zone_code}}_vmss_linux.tfstate \
-a plan


rover -lz rover -lz /tf/caf/landingzones/caf_solution \
-level level4 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level4/{{zone_code}}/vmss/linux \
-parallelism 30 \
-env {{caf_environment}} \
-tfstate solution_accelerators_{{zone_code}}_vmss_linux.tfstate \
-a apply

rover -lz rover -lz /tf/caf/landingzones/caf_solution \
-level level4 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level4/{{zone_code}}/vmss/linux \
-parallelism 30 \
-env {{caf_environment}} \
-tfstate solution_accelerators_{{zone_code}}_vmss_linux.tfstate \
-a destroy






# apim nsg
https://docs.microsoft.com/en-us/azure/api-management/api-management-using-with-vnet?tabs=stv2