

rover -lz rover -lz /tf/caf/landingzones/caf_solution \
-level level4 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level4/{{zone_code}}/vm_linux_tooling_server \
-parallelism 30 \
-env {{caf_environment}} \
-tfstate solution_accelerators_{{zone_code}}_vm_linux_tooling_server.tfstate \
-a plan

rover -lz rover -lz /tf/caf/landingzones/caf_solution \
-level level4 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level4/{{zone_code}}/vm_linux_tooling_server \
-parallelism 30 \
-env {{caf_environment}} \
-tfstate solution_accelerators_{{zone_code}}_vm_linux_tooling_server.tfstate \
-a apply

rover -lz rover -lz /tf/caf/landingzones/caf_solution \
-level level4 \
-var-folder /tf/caf/{{gcc_starter_project_folder}}/landingzone/configuration/level4/{{zone_code}}/vm_linux_tooling_server \
-parallelism 30 \
-env {{caf_environment}} \
-tfstate solution_accelerators_{{zone_code}}_vm_linux_tooling_server.tfstate \
-a destroy
