diagnostic_storage_accounts = {

  mz_central_nsg_flow_logs_sa_re1 = {
    name                     = "diaglogsre1mz"
    region                   = "region1"
    resource_group_key       = "networking_spoke_management_re1"
    account_kind             = "StorageV2"
    account_tier             = "Standard"
    account_replication_type = "LRS"
    access_tier              = "Hot"
    
    tags = { 
      purpose = "spoke management diagnostic storage accounts" 
      # project_code = "{{project_code}}" 
      env = "{{caf_environment}}" 
      zone = "{{tag_zone_code}}"
      tier = "{{tag_tier_code}}"         
    }       
  }
}

## destinations definition
diagnostics_destinations = {
  storage = {
    all_regions = {
      southeastasia = {
        storage_account_key = "mz_central_nsg_flow_logs_sa_re1"
      }
    }
  }
  log_analytics = {   # <- this is destination type
    central_logs = {  # <- this is destination key
      log_analytics_key = "central_logs_region1"
      log_analytics_destination_type = "Dedicated"
    }
  }  
}